#Map{
    /*地图(容器)显示大小*/
    width:100vw;
    height:calc(100vh - 120px);
    box-sizing: border-box;
}
.searchBox{
    flex: 1;
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 9999;
}
.search{

    background-color: blue;
    height: 30px;

    display: flex;
}
.search > input{
    width: 421px;
    height: 30px;
    background: #FFFFFF;
    opacity: 1;
    border: 1px solid #EFEFEF;
    padding-left: 15px;
}
.search > .btn{
    width: 54px;
    height: 30px;
    background: #2273CB;
    opacity: 1;
    border: 1px solid #2273CB;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
.btn > img{
    width: 15px;
    height: 15px;
}
.searchList{
    flex: 1;

    box-sizing: border-box;
    background: #FFFFFF;
}
.searchList > .dataList{
    height: 30px;
    background: #FFFFFF;
    opacity: 1;
    line-height: 30px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    color: #999999;
    padding-left: 20px;
}
.searchList > .dataList:hover{
    color: #2273CB;
    background: #F6FAFF;
}

.listBox{
    flex: 1;
    height: 736px;
    background: #FFFFFF;
    opacity: 1;
    border: 1px solid #EFEFEF;
    overflow-y: auto;
    padding: 20px 10px;
    box-sizing: border-box;
}
.listBox > .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 500;
    color: #999999;
    margin-bottom: 10px;
}
.listBox > .title > div > span{
    color: #333333;
}
.listBox > .list{
    flex: 1;
    position: relative;
    display: flex;
    border-radius: 5px 5px 5px 5px;
    opacity: 1;
    border: 1px solid #EFEFEF;
    padding: 20px;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 500;
    color: #999999;
    margin-bottom: 10px;
}
.listBox > .list > div{
    margin-right: 20px;
}
.listBox > .list > div > p{
    margin-bottom: 10px;
}
.listBox > .list > div > p > span{
    color: #333333;
    margin-left: 10px;
}
.list > .location{
    position: absolute;
    top: 17px;
    right: 20px;
    width: 24px;
    height: 24px;
}
.list > .active{
    position: absolute;
    bottom: 17px;
    right: 0;
    width: 100px;
    height: 80px;
    background-image: url("../img/active.png");
    text-align: center;
    line-height: 90px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.list > .active >span:nth-child(1){
    color: #FF9914;
}
.list > .active >span:nth-child(2){
    color: #FF9914;
    font-size: 24px;
}
