div{
    word-wrap: break-word;
    word-break: normal;
}
.quickBody{
    background: #FFFFFF;
    border: 1px solid #E7E8EC;
    padding: 40px;
    box-sizing: border-box;
}
.title{
    position: relative;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
    padding-left: 10px;
}
.title:before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 18px;
    background: #1C99F7;
    border-radius: 0px 0px 0px 0px;
    opacity: 1;


}
.goodsInfo{
    width: 100%;
}
.rowOne{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.rowOne > div{
    flex: 1;
    width: 25%;
    margin-right: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #000000;

}
.rowOne > div > span {
    color: #FF1414;
    margin-right: 5px;
}
.rowOne > div  .el-input{
  margin-top: 5px;
}
.rowOne > div  .input{

    background: #FFFFFF;
    opacity: 1;
    border: 1px solid #000000;
    margin-top: 5px;
    padding: 10px;
    box-sizing: border-box;
}
.rowOne > div:last-child{
    margin-right: 0;
}
.rowTwo{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

    font-size: 14px;
    font-weight: bold;
    color: #000000;
}
.rowTwo > div{
    width: 48%;
    margin-top: 15px;
    /*margin-right: 20px;*/
}
.rowTwo .el-textarea{
    margin-top: 5px;
}

.rowTwo > div  .input{
    background: #FFFFFF;
    opacity: 1;
    border: 1px solid #000000;
    margin-top: 5px;
    padding: 10px;
    box-sizing: border-box;
}
.rowTwo > div:nth-child(2n){
    margin-right: 0;
    width: 50%;
}
.rowThree > table{
    width: 100%;
    border: 1px #E7E8EC solid;
    margin: 30px 0;
}
.rowThree > table  tr  td{
    width: 20%;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    height: 55px;
}
.rowThree > table  tr  td .el-input__inner{
    border: none;
    height: 55px;
    line-height: 55px;
    text-align: center;
}
.rowThree > table  tr:nth-child(1)  td p {
    font-weight: bold;

}
.rowThree > table  tr:nth-child(1)  td p span{
    color: #FF1414;
    margin-right: 5px;
}
.rowFour {
    display: flex;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
}
.rowFive{
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/

}
.rowFive > div{
    position: relative;
    margin-right: 20px;
    font-size: 14px;
    color: #000000;

}
.rowFive > div > span {
    color: #FF1414;
    margin-right: 5px;
}
.rowFive > div  .el-input{
    margin-top: 5px;
}
.rowFive > div  .input{
    background: #FFFFFF;
    opacity: 1;
    border: 1px solid #000000;
    margin-top: 5px;
    padding: 10px;
    box-sizing: border-box;

}
.tips{
    font-size: 14px;
    font-weight: 500;
    color: #2273CB;
    margin: 5px 0 30px 0;
}

.infoCen{
    margin-bottom: 15px;
}

.success{
    width: 100%;
    height: 64px;
    background: #F1F9EC;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: #62C726;
    margin-bottom: 15px;
    border: 1px solid rgba(118, 198, 73, 0.5);
}
.success > img{
    margin-right: 10px;
}
#pdf{
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #000000;
    padding: 40px;
    box-sizing: border-box;

}
#pdf  div{
    font-weight: 500 !important;
}
#pdf .title{
    font-weight: bold !important;
}
#pdf table{
    border: 1px #000000 solid;
}
.download{
    width: 184px;
    height: 52px;
    background: #2273CB;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.download img{
    margin-right: 10px;
}
.colose{
    position: absolute;
    right: 15px;
    top: 100px;
    cursor: pointer;
}
.colose > img{
    width: 20px;
    height: 20px;
}
.btn{
    width: 184px;
    height: 52px;
    text-align: center;
    line-height: 52px;
    margin: 40px auto;
    background: rgba(0, 0, 0, 0.20000000298023224);
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
}
.active{
    background: #2273CB;
}
.kg{
    position: absolute;
    right: 40px;
    top: 35px;
    color: #999;
}
.booking-form-item-label{
    padding-left: 0 !important;
}
.group-radio-ul .radio-li{
    color: #000000 !important;
}


