<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
  <meta name="format-detection" content="telephone=no,address=no,email=no">
  <meta name="applicable-device" content="pc,mobile">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta http-equiv="Cache-Control" content="no-transform">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="renderer" content="webkit">
  <meta name="description" content="领先的国际货运智能化数字服务平台，拥有极速订舱、在线报关、航班跟踪、舱单生成四大功能，为国际货运企业提供灵活、专业、高效的一站式国际货运解决方案。">
  <meta name="keywords" content="空运,货运代理,航空货运,空运价格,国际货代,国际空运,订舱,空运货物查询跟踪,订舱报价,空运舱位,空运费查询,跨境物流,走空运找哪里">
  <link rel='icon' href='./img/favicon.ico' type='image/x-icon'/>
  <title>17订舱-国际货代-空运价格-在线订舱-航线-一站式国际货运在线服务平台</title>
  <link rel="stylesheet" href="./css/element-ui-min.css">
  <link rel="stylesheet" href="./css/reset.css"/>
  <link rel="stylesheet" href="./css/common.css"/>
  <link rel="stylesheet" href="./css/freightQuery.css"/>
  <script src="./js/vue.js"></script>
  <script src="./js/axios.min.js"></script>
  <script src="./js/element-ui.js"></script>
  <script>
      var _hmt = _hmt || [];
      (function () {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?6557743b6903181767d9b1a4d7458530";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
      })();
  </script>
  <script src="./js/forbidden.js"></script>
  <script src="./js/forbibben.js"></script>
</head>
<body >
<div id="app">
  <!-- 头部 -->
  <div class="header">
    <div class="header-img">
      <a href="./index.html">
        <!-- <img class="logo" src="./img/logo.png" /> -->
        <div class="logo"></div>
      </a>
      <div class="logo-title"></div>
    </div>
    <div v-if="userInfo" @mousemove="showHeaderMenu(1)" @mouseout="showHeaderMenu(2)" class="header-userInfo">
      <img class="header-imgUrl" :src="userInfo.headImgUrl"/>
      <div class="header-user-center-btn" @mousemove.stop><a href="./orderList.html">个人中心</a></div>
      <div v-show="headerMenu" style="display: none;" class="header-userInfo-menu">
        <div class="header-userInfo-menu-name">{{userInfo.nickname}}</div>
        <div class="header-bak"><a @click="goQuick">一键订舱</a></div>
        <div class="header-bak"><a href="./corporate.html">企业信息</a></div>
        <div class="header-bak"><a href="./orderList.html">订单管理</a></div>
        <div class="header-bak"><a href="./financial.html">财务管理</a></div>
        <div @click="tuiChu" class="header-bak">退出</div>
      </div>
    </div>
    <div v-else @click="loginClick" class="header-user">登录</div>
    <div class="quick " @click="goQuick">
      <img src="img/quick.png">
      <span >一键订舱</span>
    </div>
  </div>
  <div class="header-menu">
    <ul class="header-menu-list com-width">
      <li @click="menuClick(0)" :class="{headerActive: menuIndex == 0}" class="header-menu-content">首页</li>
      <li @click="menuClick(1)" :class="{headerActive: menuIndex == 1}" class="header-menu-content">运单跟踪</li>
      <li @click="menuClick(2)" :class="{headerActive: menuIndex == 2}" class="header-menu-content">地址搜索</li>
      <li @click="menuClick(3)" :class="{headerActive: menuIndex == 3}" class="header-menu-content">关于我们</li>
    </ul>
  </div>
  <!-- 查询内容 -->
  <div class="modify-flight" style="margin-top: 0;padding-top: 0;">

      <div class="modify-search-box" ref="topSE" style="background-color: #FFF;padding-bottom: 20px;margin-bottom: 20px;">
        <div class="modify-search-img"></div>
        <div class="modify-search-form" >
          <div class="form-line">
            <div class="group-wrap group-wrap-item borderE7E8EC">
              <div style="display: flex;align-items: center;justify-content: space-between;">
                <div class="form-item">
                  <label>起飞港</label>
                  <div class="form-item-owrt">
                    <input @input="qiSearchByPage" @focus="showCityList(1,true)" @keyup.enter = "onlyOneChoose(1)" @blur="showCityList(1,false)"
                           v-model="pol" placeholder="输入城市或机场三字码" type="text"/>
                    <div v-show="qiShowState" style="display: none;z-index: 9999" class="open-warp-router">
                      <div v-if="!pol" class="open-warp-router-hot">热门机场</div>
                      <div @mousedown="openCityClick(1,item)" v-for="(item,index) in qiPageArr" :key="index"
                           class="opne-warp-city">
                        <span>{{item.threeLetterCode}}</span>
                        <span>{{item.name}}</span>
                        <span>{{item.city}}</span>
                        <span>{{item.country}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="switch-item"></div>
                <div class="form-item">
                  <label>目的港</label>
                  <div class="form-item-owrt">
                    <input @input="muSearchByPage" @focus="showCityList(2,true)" @keyup.enter = "onlyOneChoose(2)" @blur="showCityList(2,false)"
                           v-model="pod" placeholder="输入城市或机场三字码" type="text"/>
                    <div v-show="muShowState" style="display: none;z-index: 9999" class="open-warp-router">
                      <div v-if="!pod" class="open-warp-router-hot">热门机场</div>
                      <div @mousedown="openCityClick(2,item)" v-for="(item,index) in muPageArr" :key="index"
                           class="opne-warp-city">
                        <span>{{item.threeLetterCode}}</span>
                        <span>{{item.name}}</span>
                        <span>{{item.city}}</span>
                        <span>{{item.country}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="group-wrap group-wrap-item1 borderE7E8EC">
              <div class="form-item">
                <label>件</label>
                <div class="form-item-owrt">
                  <input maxlength="4" v-model="piece" @input="valueChange" onkeyup="value=value.replace(/[^\d]/g, '')" type="text"/>
                  <div class="owrt-text">PCS</div>
                </div>
              </div>
            </div>
            <div class="group-wrap group-wrap-item1 borderE7E8EC">
              <div class="form-item">
                <label>体积</label>
                <div class="form-item-owrt">
                  <input maxlength="4" v-model="volume" @input="valueChange" onkeyup="value=value.replace(/[^\d\.]/g, '')" type="text"/>
                  <div class="owrt-text">CBM</div>
                </div>
              </div>
            </div>
            <div class="group-wrap group-wrap-item1 borderE7E8EC" >
              <div class="form-item">
                <label>重量</label>
                <div class="form-item-owrt">
                  <input maxlength="6" v-model="weight" @input="valueChange" onkeyup="value=value.replace(/[^\d]/g, '')" type="text"/>
                  <div class="owrt-text">KG</div>
                </div>
              </div>
            </div>
            <div class="group-wrap group-wrap-item2">
              <div class="form-item">
                <label>货物比重</label>
                <div class="form-item-owrt">
                  <div
                    v-if="((Math.ceil(weight/volume)) != 'Infinity') && !isNaN(Math.ceil(weight/volume)) && weight && volume"
                    class="item-owrt-text">1:{{Math.ceil(weight / volume)}}
                  </div>
                  <div v-else class="item-owrt-text">---</div>
                </div>
              </div>
            </div>
            <div class="group-wrap group-wrap-item2">
              <div class="form-item">
                <label>计费重</label>
                <div class="form-item-owrt">
                  <div v-if="volume && weight" class="item-owrt-text">
                    {{Math.ceil(Number(volume) * weightPrice) > weight ? Math.ceil(Number(volume) * weightPrice) : weight}}KG
                  </div>
                  <div v-else class="item-owrt-text">---</div>
                </div>
              </div>
            </div>
            <div class="group-wrap" style="margin-right: 0;">
              <div class="form-item">
                <div class="form-item-owrt">
                  <button @click="submitQuery" class="box-btn btn-prprimary com-width130 com-height50">立即查询</button>
                </div>
              </div>
            </div>
          </div>
          <div style="display: flex;margin-top: 18px;">
            <span style="margin-right: 20px;">货物类型</span>
            <ul class="group-radio-ul">
              <li @click="aircraftRadioClick('散货')" :class="{radio_li_active: aircraftRadioName == '散货'}"
                  class="radio-li com-font-size14">散货
              </li>
              <li @click="aircraftRadioClick('托盘')" :class="{radio_li_active: aircraftRadioName == '托盘'}"
                  class="radio-li com-font-size14">托盘
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div v-show="!isShowMore" style="margin-bottom: 20px" class="modify-flight-date com-width">
        <ul class="modify-date-tabs">
          <li v-for="(item,index) in dateArr" :key="index"
              :class="['modify-date-tab',
              (dateTabActive == splitDate(item.date) &&  !item.disabled)?'modify-date-tab-active':'',
              item.disabled?'modify-date-tab-noactive':''
              ]"
          >
            <div @click="dateItemClick(item.dow,item.date,index,item)">
              <div v-if="item.dow == 1" class="date">{{splitDate(item.date)}} 周一</div>
              <div v-if="item.dow == 2" class="date">{{splitDate(item.date)}} 周二</div>
              <div v-if="item.dow == 3" class="date">{{splitDate(item.date)}} 周三</div>
              <div v-if="item.dow == 4" class="date">{{splitDate(item.date)}} 周四</div>
              <div v-if="item.dow == 5" class="date">{{splitDate(item.date)}} 周五</div>
              <div v-if="item.dow == 6" class="date">{{splitDate(item.date)}} 周六</div>
              <div v-if="item.dow == 0" class="date">{{splitDate(item.date)}} 周日</div>
              <div v-if="new Date(item.date) - new Date(currentDayWeekDate[14].date) >= 0" class="price">可占仓</div>
              <div v-else-if="weekDatePrice[item.isDow-1] == null" class="price">无航班</div>
              <div v-else class="price">￥{{weekDatePrice[item.isDow - 1]}}/kg</div>
            </div>
          </li>
          <li @click="moreClick(true)" class="modify-date-tab modify-more-date">更多日期</li>
        </ul>
      </div>
      <div v-show="isShowMore"  style="margin-bottom: 20px"  ref="dateTwo" class="calendar-lowprice-cla">
        <div class="cld-tab-title">
          <div class="cld-tabs-name">日历查看</div>
          <img alt="图片" @click="moreClick(false)" src="./img/close.png"/>
        </div>
        <div class="cld-body">
          <table class="cld-body-table">
            <tr>
              <th>周一</th>
              <th>周二</th>
              <th>周三</th>
              <th>周四</th>
              <th>周五</th>
              <th>周六</th>
              <th>周日</th>
            </tr>
            <tr v-for="(item,index) in dateMoreArr" :key="index">
              <td :class="{default_color: !childerItem.disabled,default_active: dateTabActive == splitDate(childerItem.date)}"
                  v-for="(childerItem,childerIndex) in item" :key="childerIndex">
                <div v-if="!childerItem.disabled" @click="dateClick(childerItem.date,childerIndex,index,item)" >
                  <div :style="{fontSize: '12px',color:childerItem.disabled?'#999':'#2273CB'}">{{splitDate(childerItem.date)}}</div>
                  <div v-if="0 == index" :style="{fontSize: '12px',color:!weekDatePrice[childerIndex]?'#999':'#2273CB'}">
                    <span v-if="weekDatePrice[childerIndex]">￥{{weekDatePrice[childerIndex]}}</span>
                    <span v-else>无航班</span>
                  </div>
                  <div v-else-if="1 == index" >
                    <div v-if="weekDatePrice[childerIndex]" style="font-size: 12px;color: #FF9914;"><span
                      style="color: #333;">参考价</span>￥{{weekDatePrice[childerIndex]}}
                    </div>
                    <div v-else :style="{fontSize: '12px',color:!weekDatePrice[childerIndex]?'#999':'#FF9914'}">无航班</div>
                  </div>
                  <div v-else-if="!childerItem.disabled" style="font-size: 12px;">可占仓</div>
                </div>
                <div v-else>
                  <div>{{splitDate(childerItem.date)}}</div>
                  <div style="font-size: 12px;color: #999;">
                    <span v-if="weekDatePrice[childerIndex]">￥{{weekDatePrice[childerIndex]}}</span>
                    <span v-else>无航班</span>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div style="position: sticky;top: 0;z-index: 999" ref="sticky">
        <div class="modify-flight-bar com-width" style="margin-top: 0">
          <div class="flight-bar-box">
            <div class="flight-bar-input">
              <el-select v-model="twoLetterCode1" @change="selectChange(1)" multiple collapse-tags placeholder="请选择航司">
                <el-option
                  v-for="item in twoCodeArr"
                  :key="item.value"
                  :label="item.airCompanyCode"
                  :value="item.airCompanyCode">
                  <span>{{item.airCompanyCode}}</span>
                  <span style="margin-left: 10px;padding-right: 20px;">{{item.name}}</span>
                </el-option>
              </el-select>
            </div>
            <ul class="group-radio-ul" v-if="!dateShow" style="margin: 0 20px">
              <li @click="aircraftRadioClick('散货')" :class="{radio_li_active: aircraftRadioName == '散货'}"
                  class="radio-li com-font-size14">散货
              </li>
              <li @click="aircraftRadioClick('托盘')" :class="{radio_li_active: aircraftRadioName == '托盘'}"
                  class="radio-li com-font-size14">托盘
              </li>
            </ul>
            <div class="flight-bar-input" v-if="!dateShow">
              <el-select v-model="dateValue" @change="selectChange(2)" collapse-tags placeholder="请选择日期">
                <el-option
                  v-for="(item,index) in dateArr"
                  :key="item.date"
                  :label="item.date +'   '+ changeDate(item.dow)"
                  :disabled="item.disabled"
                  :value="index">
                  <span>{{item.date}}</span>
                  <span style="margin-left: 10px;padding-right: 20px;">{{changeDate(item.dow)}}</span>
                </el-option>
              </el-select>
            </div>
            <!-- <div class="flight-bar-btn"><button @click="submitQuery" class="box-btn btn-prprimary com-width60">确认</button></div> -->
          </div>
          <ul class="flight-bar-ul" :style="{marginLeft:!dateShow?'60px':'400px'}">
            <li v-for="(item,index) in distanceArr" :key="index" class="flight-bar-li">
              <div v-if="index != 0" class="flight-bar-arrow1">
                <img alt="图片" @click="sortClick(item.value,'top')" class="flight-bar-arrow1-img"
                     src="./img/modify-arrow1.png"/>
              </div>
              <div class="flight-bar-name">{{item.name}}</div>
              <div v-if="index != 0" class="flight-bar-arrow2">
                <img alt="图片" @click="sortClick(item.value,'bottom')" class="flight-bar-arrow2-img"
                     src="./img/modify-arrow1.png"/>
              </div>
            </li>
          </ul>
        </div>
      </div>


    <div class="modify-result-wrapper com-width">
      <div v-if="priceArr.length == 0" style="width: 100%;text-align: center;padding: 20px;">
        <img alt="图片" style="width: 262px;height: 201px;" src="./img/null.png"/>
        <div style="color: #999;font-size: 14px;margin-top: 20px;">暂无数据</div>
      </div>
      <ul v-if="priceArr.length > 0" class="result-wrapper-ul">
        <li v-for="(item,index) in priceArr" :key="index" class="result-wrapper-li"  @click="shrink(item,index)">
          <div class="wrapper-li-content">
            <div class="wrapper-li-content-left">
              <div class="wrapper-li-tags" style="justify-content: space-between;">
                <div style="width: auto;font-size: 12px;display: flex;align-items: center;">
                  <img alt="图片" v-if="item.logoPath" style="margin-right: 10px;height: 20px;width: auto;"
                       :src="item.logoPath"/>
                  {{item.name}}
                  <span style="margin-left:10px;">{{item.airCompanyCode}}</span>
                </div>
                <div style="display: flex;width: auto;flex: 0 0 130px;justify-content: flex-end;">
                  <div v-if="item.legCount == '1'" class="li-tag1">时效快</div>
                  <div v-if="item.tag" class="li-tag2">价格低</div>
                </div>
              </div>
              <div class="wrapper-li-flgiht">
                <div class="li-flgiht-airline">
                  <div class="li-flgiht-airline-name">{{item.pol}}</div>
                  <div class="li-flgiht-airline-tip">{{item.polName}}</div>
                </div>
                <div class="li-flgiht-icon">{{item.legCount == 1 ? '直达' : item.firstHub}}</div>
                <div class="li-flgiht-airline">
                  <div class="li-flgiht-airline-name">{{item.pod}}</div>
                  <div class="li-flgiht-airline-tip">{{item.podName}}</div>
                </div>
              </div>
              <div class="wrapper-li-date">
                <div class="li-date-text">时效：{{item.shortDuration}}天</div>
                <div class="li-date-text">班期：D{{item.dows}}</div>
              </div>
            </div>
            <div class="wrapper-li-content-right" style="position: relative;">
              <div v-if="item.amount" style="position: absolute;font-size: 14px;right: 0;top: -16px;">
                <div>预估运价</div>
                <div style="font-size: 16px;margin-top: 5px;color: #FF9914;font-weight: bold;">￥{{item.amount}}</div>
              </div>
              <ul class="li-content-price-ul">
                <li v-for="(childerItem,childerIndex) in item.rates" :key="childerIndex" class="li-content-price-li">
                  <!-- <div v-if="childerIndex == 0">{{childerItem.vwrLow}}CMB < {{childerItem.vwrHigh}}</div> -->
                  <div>1:{{childerItem.vwr}}</div>
                  <!-- <div :style="{color: item.amountTitle == 'M' ? '#ff9914' : '#333'}">{{childerItem.ratesLevel0}}</div>
                  <div :style="{color: item.amountTitle == 'N' ? '#ff9914' : '#333'}">{{childerItem.ratesN}}</div> -->
                  <div :style="{color: item.amountTitle == '45+' ? '#ff9914' : '#333'}">{{childerItem.ratesLevel1}}
                  </div>
                  <div :style="{color: item.amountTitle == '100+' ? '#ff9914' : '#333'}">{{childerItem.ratesLevel2}}
                  </div>
                  <div :style="{color: item.amountTitle == '300+' ? '#ff9914' : '#333'}">{{childerItem.ratesLevel3}}
                  </div>
                  <div :style="{color: item.amountTitle == '500+' ? '#ff9914' : '#333'}">{{childerItem.ratesLevel4}}
                  </div>
                  <div :style="{color: item.amountTitle == '1000+' ? '#ff9914' : '#333'}">{{childerItem.ratesLevel5}}
                  </div>
                </li>
              </ul>
              <div style="margin-top: 15px;text-align: right;">
                <button @click="bookingSpace(item)" class="box-btn btn-prprimary com-width110 com-height50"
                        style="margin-right: 30px;font-size: 16px;font-weight: 500;">订舱
                </button>
                <button class="box-btn el-button--warning com-width110 com-height50"
                        style="font-size: 16px;font-weight: 500;">咨询客服
                </button>
              </div>
            </div>
          </div>
          <div class="result-wrapper-tabs">
            <ul class="result-wrapper-tabs-ul">
              <li :class="[item.isShowType==1?'result-wrapper-tabs-active':'']" @click.stop="typeChange(item,index,1)">普货政策
              </li>
              <li :class="[item.isShowType==2?'result-wrapper-tabs-active':'']" @click.stop="typeChange(item,index,2)">航班信息
              </li>
            </ul>
            <div class="result-wrapper-shouqi" @click.stop="shrink(item,index)">{{item.isShow ? '收起' : '展开'}}</div>
          </div>
          <template v-if="item.isShow">
            <div class="result-wrapper-content" v-if="item.isShowType==1">
              <div class="wrapper-content-item">
                <div class="wrapper-content-item-text">
                  <label>中转/直飞：</label>{{item.legCount == 1 ? '直达' : '中转'}}
                </div>
                <div class="wrapper-content-item-text">
                  <label>备注：</label>{{item.remark}}
                </div>
              </div>
              <div class="wrapper-content-item">
                <div class="wrapper-content-item-text">
                  <!-- 先这么写 -->
                  <label>包装要求（能接）：</label>{{ {
                    0: '散货和托盘',
                    1: '散货',
                    2: '托盘'
                  }[item.acceptCargoType] }}
                </div>
                <!-- <div class="wrapper-content-item-text">
                  <label>其他政策：</label>重货，泡货价格另议
                </div> -->
              </div>
            </div>
            <div class="result-wrapper-content flightInof" v-if="item.isShowType==2">
              <div class="listContent" v-for="(ite,index) in item.legDetail" :key="index">
                <div class="title">
                  <span>{{getIndex(index)}}程航班</span>
                  <span>{{ite.startRouteName}} —— {{ite.endRouteName}}</span>
                </div>
                <div class="diyTable">
                  <div class="diyTableTitle pub">
                    <div>航班号</div>
                    <div>运输工具</div>
                    <div>起运时间</div>
                    <div>到达时间</div>

                  </div>
                  <div class="diyTableList pub" v-for="(it,ind) in ite.childerTable" :key="ind+'s'">
                    <div>{{it.vehicleId ? it.vehicleId : "——"}}</div>
                    <div>{{it.vehicleType ? selectVehicleType(it.vehicleType) : "——"}}</div>
                    <div>{{it.etd ? it.etd : "——"}}</div>
                    <div>{{it.eta ? it.eta : "——"}}</div>
                  </div>
                </div>
              </div>
            </div>
          </template>
        </li>
      </ul>
    </div>
  </div>

  <!-- 尾部 -->
  <div class="footer">
    <div class="com-width">
      <div class="footer-content">
        <div class="footer-label">
          <div class="footer-cool" style="margin-bottom: 10px;">
            <span>Copyright © 2020-2021 17dc.com  丨  沪ICP备2021024815号-1  丨  <a target="_blank"
                                                                               href="./yingyezhizhaoImg.html"
                                                                               class="yingyezhizhao">营业执照</a></span>
          </div>
          <!-- <div class="footer-cool" style="margin-bottom: 10px;display: flex;align-items: center;justify-content: center;">
            <img src="./img/footer-wangjing.png" style="width: 16px;height: 16px;margin-right: 10px;" />
            <span>沪公网备XXXXXXXXXXXXX号</span>
          </div> -->
          <div class="footer-ipc">上海傲晔物流科技有限公司  丨  上海市青浦区诸光路1588弄虹桥世界中心L3B栋  丨  <a target="_blank" href="https://beian.miit.gov.cn/#/Integrated/index">沪ICP备2021024815号-1</a></div>
        </div>
        <div class="footer-img"><img alt="图片" src="./img/qcode.png"/></div>
      </div>
    </div>
  </div>
</div>
</body>
<script src="./service/index.js"></script>
<script src="./js/utils.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            //菜单
            menuArr: [
                {name: '首页'},
                {name: '订单跟踪'},
                {name: '行业咨询'},
                {name: '关于我们'}
            ],
            menuIndex: 0,
            aircraftRadioName: '散货',
            dateTabActive: '',
            pod: '',
            pol: '',
            qiPageArr: [],
            qiShowState: false,
            muPageArr: [],
            muShowState: false,
            piece: '',
            volume: '',
            weight: '',
            weightPrice: 167,
            twoLetterCode: '',
            twoLetterCode1: [],
            twoLetterCodeStatus: false,
            twoCodeArr: [],
            dow: '',
            time1:0,
            time2:0,
            pageNum: 0,
            pageSize: 10,
            currWeekDate: '',
            currentDayWeekDate: [],
            currentDay: '',
            weekDatePrice: [],
            isShowMore: false,
            distanceArr: [
                // {name: 'M', value: 'N'},
                // {name: 'N', value: 'M'},
                {name: '45+', value: '45'},
                {name: '100+', value: '100'},
                {name: '300+', value: '300'},
                {name: '500+', value: '500'},
                {name: '1000+', value: '1000'}
            ],
            priceArr: [],
            dateArr: [],
            dateMoreArr: [],
            isIndexDay: 0,
            bookingDate: '',
            userInfo: '',
            headerMenu: false,
            actDay: true,
            dateShow: true,
            dateValue: 0,
            weekRatesVOS:[]
        },
        created() {
            if (!localStorage.getItem('wxOpenId')) {
                window.location.href = './login.html'
            }
            if (localStorage.getItem('userInfo')) {
                this.userInfo = JSON.parse(localStorage.getItem('userInfo'))
            }
        },
        mounted() {
            var myDate = new Date()
            this.currWeekDate = myDate.getDay()
            // this.dow = myDate.getDay()
            this.pol = getQueryVariable('qi') || '';
            this.pod = getQueryVariable('mu') || '';
            this.piece = getQueryVariable('piece') || '';
            this.volume = getQueryVariable('volume') || '';
            this.weight = getQueryVariable('weight') || '';
            if(getQueryVariable('type')==1){
                this.aircraftRadioName =  '散货'
            }
            if(getQueryVariable('type')==2){
                this.aircraftRadioName =  '托盘'
            }
            var getMm = getNowM()
            this.currentDayWeekDate = getWeekDay1(myDate.toLocaleDateString())
            if (this.currWeekDate == 0) {
                this.currentDayWeekDate = this.currentDayWeekDate.sort()
            }
            this.currentDayWeekDate = isDateCurrent1(this.currentDayWeekDate)
            this.currentDay = formatDate(myDate.toLocaleDateString())
            this.bookingDate = this.currentDay
            // 获取当前日期index，取以当前日期为开始的一周7天显示在页面上
            var currentDayIndex = this.currentDayWeekDate.findIndex(item => item.date === this.currentDay)
            this.dateArr = JSON.parse(JSON.stringify(this.currentDayWeekDate)).slice(currentDayIndex, currentDayIndex + 7)
            // this.dateTabActive = this.splitDate(this.currentDay)

            var mmWeek = []
            for (var i = 0; i < getMm.length; i++) {
                mmWeek.push(getWeekDay(getMm[i]).slice(-7))
            }
            var newMmWeek = this.duplicate2(mmWeek)
            newMmWeek = newMmWeek.sort()


            this.dateMoreArr = [];
            this.weekRatesVOS = newMmWeek[this.isIndexDay];

            this.initData()
            this.qiSearchByPage()
            this.muSearchByPage()
            // this.initTwoCode()
            this.scrollDiy();


        },
        watch:{
            piece: {
                handler(newV, oldVal) {
                   console.log(isNaN(newV))
                    if(isNaN(newV)){
                        this.piece=""

                    }
                },
                deep: true
            },
            volume: {
                handler(newV, oldVal) {
                    console.log(isNaN(newV))
                    if(isNaN(newV)){
                        this.volume="";
                    }
                },
                deep: true
            },
            weight: {
                handler(newV, oldVal) {
                    console.log(isNaN(newV))
                    if(isNaN(newV)){
                        this.weight=""
                    }
                },
                deep: true
            },

        },
        methods: {
          onlyOneChoose(index) {
					if(index == 1){
						if(this.qiPageArr.length>1) {
							return 
						}
						else {
							this.pol = this.qiPageArr[0].threeLetterCode
							this.qiShowState = false
              this.time1++
							if(this.time1>1) {
							  this.submitQuery()
							  this.time1=0
							}
						}
					} 
					else if (index == 2) {
						if(this.muPageArr.length>1) {
							return 
						}
						else {
							this.pod = this.muPageArr[0].threeLetterCode
							this.muShowState = false
              this.time2++
							if(this.time2>1) {
							  this.submitQuery()
							  this.time2=0
							}
						}
					}
				},
            valueChange(e){
                console.log(e)
            },
            goQuick(){
              if (localStorage.getItem('certificationBody') == 'null' || localStorage.getItem('certificationBody') == '') {
                        this.$alert('当前帐户未绑定认证主体，订舱失败，请联系客服人员', '提示', {
                            confirmButtonText: '确定',
                            callback: action => {
                            }
                        })
                    }else{
              window.location.href='./quick.html'
            }
            },
            getIndex(index){
                switch (index){
                    case 0:return "首";
                    case 1:return "二";
                    case 2:return "三";
                    case 3:return "四";
                    case 4:return "五";
                    case 5:return "六";
                    case 6:return "七";
                    case 7:return "八";
                    case 8:return "九";
                    case 9:return "十";
                    default: return index*1+1;
                }
            },
            changeDate(date){
              switch (date){
                  case 1:return "周一";
                  case 2:return "周二";
                  case 3:return "周三";
                  case 4:return "周四";
                  case 5:return "周五";
                  case 6:return "周六";
                  case 0:return "周日";
                  default:return "无"
              }
            },
            scrollDiy() {
               let qi =  this.qiShowState
               let mu =  this.muShowState
                this.$nextTick(() => {
                    window.addEventListener("scroll", () => {
                        let num = this.$refs.sticky.offsetTop  -  document.documentElement.scrollTop
                        console.dir(num)
                        if(num==0){
                            this.dateShow = false
                            this.qiShowState = false
                            this.muShowState = false
                        }else {
                            this.dateShow = true;
                            if(qi){
                                this.qiShowState = true
                            }
                            if(mu){
                                this.muShowState = true
                            }
                        }

                    });
                });
            },
            selectVehicleType(type) {
                switch (type) {
                    case "1":
                        return "宽体飞机";
                    case "2":
                        return "窄体飞机";
                    case "3":
                        return "货机";
                    case "4":
                        return "卡车";
                    case "5":
                        return "飞机";
                    default:
                        return "无";
                }
            },
            typeChange(item, index, value) {
                this.$set(this.priceArr, index, {
                    ...item,
                    isShowType: value,
                    isShow: true
                })
            },
            shrink(item, index) {
                this.$set(this.priceArr, index, {
                    ...item,
                    isShow: !item.isShow
                })
            },
            showHeaderMenu(type) {
                if (type == 1) {
                    this.headerMenu = true
                } else {
                    this.headerMenu = false
                }
            },
            tuiChu() {
                localStorage.clear()
                window.location.href = './login.html'
            },
            sortClick(value, type) {
                for (var i = 0; i < this.priceArr.length; i++) {
                    if (value == 'M' && type == 'top') {
                        this.priceArr.sort(function (a, b) {
                            return b.sortMTop - a.sortMTop
                        })
                        this.priceArr[i].rates.sort(function (a, b) {
                            return b.ratesN - a.ratesN
                        })
                    } else if (value == 'M' && type == 'bottom') {
                        this.priceArr.sort(function (a, b) {
                            return a.sortMBottom - b.sortMBottom
                        })
                        this.priceArr[i].rates.sort(function (a, b) {
                            return a.ratesN - b.ratesN
                        })
                    } else if (value == '45' && type == 'top') {
                        this.priceArr.sort(function (a, b) {
                            return b.sort45Top - a.sort45Top
                        })
                        this.priceArr[i].rates.sort(function (a, b) {
                            return b.ratesLevel1 - a.ratesLevel1
                        })
                    } else if (value == '45' && type == 'bottom') {
                        this.priceArr.sort(function (a, b) {
                            return a.sort45Bottom - b.sort45Bottom
                        })
                        this.priceArr[i].rates.sort(function (a, b) {
                            return a.ratesLevel1 - b.ratesLevel1
                        })
                    } else if (value == '100' && type == 'top') {
                        this.priceArr.sort(function (a, b) {
                            return b.sort100Top - a.sort100Top
                        })
                        this.priceArr[i].rates.sort(function (a, b) {
                            return b.ratesLevel2 - a.ratesLevel2
                        })
                    } else if (value == '100' && type == 'bottom') {
                        this.priceArr.sort(function (a, b) {
                            return a.sort100Bottom - b.sort100Bottom
                        })
                        this.priceArr[i].rates.sort(function (a, b) {
                            return a.ratesLevel2 - b.ratesLevel2
                        })
                    } else if (value == '300' && type == 'top') {
                        this.priceArr.sort(function (a, b) {
                            return b.sort300Top - a.sort300Top
                        })
                        this.priceArr[i].rates.sort(function (a, b) {
                            return b.ratesLevel3 - a.ratesLevel3
                        })
                    } else if (value == '300' && type == 'bottom') {
                        this.priceArr.sort(function (a, b) {
                            return a.sort300Bottom - b.sort300Bottom
                        })
                        this.priceArr[i].rates.sort(function (a, b) {
                            return a.ratesLevel3 - b.ratesLevel3
                        })
                    } else if (value == '500' && type == 'top') {
                        this.priceArr.sort(function (a, b) {
                            return b.sort500Top - a.sort500Top
                        })
                        this.priceArr[i].rates.sort(function (a, b) {
                            return b.ratesLevel4 - a.ratesLevel4
                        })
                    } else if (value == '500' && type == 'bottom') {
                        this.priceArr.sort(function (a, b) {
                            return a.sort500Bottom - b.sort500Bottom
                        })
                        this.priceArr[i].rates.sort(function (a, b) {
                            return a.ratesLevel4 - b.ratesLevel4
                        })
                    } else if (value == '1000' && type == 'top') {
                        this.priceArr.sort(function (a, b) {
                            return b.sort1000Top - a.sort1000Top
                        })
                        this.priceArr[i].rates.sort(function (a, b) {
                            return b.ratesLevel5 - a.ratesLevel5
                        })
                    } else if (value == '1000' && type == 'bottom') {
                        this.priceArr.sort(function (a, b) {
                            return a.sort1000Bottom - b.sort1000Bottom
                        })
                        this.priceArr[i].rates.sort(function (a, b) {
                            return a.ratesLevel5 - b.ratesLevel5
                        })
                    }
                }
            },
            //获取二字码
            initTwoCode() {
                var jsonData = {
                    cargoType: this.aircraftRadioName == '散货' ? 1 : 2,
                    dow: this.dow == 0 ? 7 : this.dow,
                    pod: this.pod,
                    pol: this.pol,
                    vwr: (this.weight=="") || (this.volume=="") || isNaN(this.weight/this.volume) ? '' : Math.ceil((this.weight) / (this.volume)),
                }
                jsonData = toData(jsonData)
                axios({
                    method: 'get',
                    url: webIp + serviceApi.twoCodeSearchByPage + '?' + jsonData,
                }).then((data) => {
                    var data = data.data
                    if (data.code == 200) {
                        this.twoCodeArr = data.data
                    }
                })
            },
            //起始港
            showCityList(type, state) {
                if (type == 1) {
                    if (state) {
                        this.qiSearchByPage()
                        this.qiShowState = state //显示下拉列表
                    } else {
                        this.qiShowState = state //隐藏下拉框
                    }
                } else if (type == 2) {
                    if (state) {
                        this.muSearchByPage()
                        this.muShowState = state //显示下拉列表
                    } else {
                        this.muShowState = state //隐藏下拉框
                    }
                } else if (type == 3) {
                    if (state) {
                        this.initTwoCode()
                        this.twoLetterCodeStatus = state //显示下拉列表
                    } else {
                        this.twoLetterCodeStatus = state //隐藏下拉框
                    }
                }
            },
            openCityClick(type, item) {
                if (type == 1) {
                    this.pol = item.threeLetterCode
                } else if (type == 2) {
                    this.pod = item.threeLetterCode
                }
                this.initData()
                // this.initTwoCode()
                this.twoLetterCode1 = []
            },
            qiSearchByPage() {
                var jsonData = {
                    keyWord: this.pol,
                    type: this.pol ? '' : '1'
                }
                jsonData = toData(jsonData)
                axios({
                    method: 'get',
                    url: webIp + serviceApi.searchByPage + '?' + jsonData,
                }).then((data) => {
                    var data = data.data
                    if (data.code == 200) {
                        this.qiPageArr = data.data
                    }
                })
            },
            muSearchByPage() {
                var jsonData = {
                    keyWord: this.pod,
                    type: this.pod ? '' : '2'
                }
                jsonData = toData(jsonData)
                axios({
                    method: 'get',
                    url: webIp + serviceApi.searchByPage + '?' + jsonData,
                }).then((data) => {
                    var data = data.data
                    if (data.code == 200) {
                        this.muPageArr = data.data
                    }
                })
            },
            //立即查询
            submitQuery() {
                // this.initTwoCode()
                this.twoLetterCode1 = []
                if (!this.pod) {
                    return
                }
                this.initData()

            },
            selectChange(type) {
                if(type == 2){
                    this.dow = this.dateValue + 1;
                    this.dateTabActive = this.splitDate(this.dateArr[this.dateValue].date)

                    this.initData()
                }else {
                    this.initData()
                }

            },
            dateClick(date, childerIndex,index,item) {

                if(item.disabled){
                    return false
                }
                // let start = index * 7;
                // this.dateArr = this.currentDayWeekDate.slice(start,index * 7 + 7)
                // 效果为选中日期后居中显示前3后3，如果前面可选数量小于3，显示从可选开始的7个，如果后面可选小于3，显示最后7个
                var nowDate = formatDate(new Date().toLocaleDateString())
                var nowDateIndex = this.currentDayWeekDate.findIndex(item => item.date === nowDate)
                // 当前日期之后的日期
                var enableDateArr = this.currentDayWeekDate.slice(nowDateIndex)
                var dateIndex = enableDateArr.findIndex(item => item.date === date)
                var start = (function() {
                  if (dateIndex + 1 < 4) {
                    return 0
                  }
                  if (dateIndex + 1 >= enableDateArr.length - 3) {
                    return enableDateArr.length - 7
                  }
                  return dateIndex - 3
                })()
                this.dateArr = enableDateArr.slice(start, start + 7)
                this.dateArr.forEach((item,index)=>{
                    if(item.date == date){
                        this.dateValue = index;
                    }
                })

                this.currentDay = date
                this.bookingDate = date
                this.dateTabActive = this.splitDate(date)
                this.dow = childerIndex + 1
                this.initData()
                // this.initTwoCode()
                this.twoLetterCode1 = []
                this.isShowMore = false
            },
            moreClick(type) {
                this.isShowMore = type
            },
            //切割日期
            splitDate(date) {
                var data = date.split('-')
                return data[1] + '-' + data[2]
            },
            //二维数组去重
            duplicate2(arr) {
                let res = {}
                arr.forEach(item => {
                    item.sort((a, b) => a - b);
                    res[item] = item;
                });
                return Object.values(res)
            },
            //获取日期数据
            initDate() {
                if (this.volume && this.weight) {
                    var chargedWeight = (parseInt(this.volume) * this.weightPrice) > this.weight ? (parseInt(this.volume) * this.weightPrice) : this.weight
                } else {
                    var chargedWeight = ''
                }
                var data = {
                    cargoType: this.aircraftRadioName == '散货' ? 1 : 2,
                    chargedWeight: chargedWeight,
                    pod: this.pod,
                    pol: this.pol,
                    vwr: (this.weight=="") || (this.volume=="") || isNaN(this.weight/this.volume)? '' : Math.ceil((this.weight) / (this.volume)),
                }
                data = toData(data)
                axios({
                    method: 'get',
                    url: webIp + serviceApi.noAuthSearchWeekRates + '?' + data
                }).then((data) => {
                    var data = data.data
                    if (data.code == 200) {
                        this.weekDatePrice = []
                        for (var q = 0; q < data.data.length; q++) {
                            this.weekDatePrice.push(data.data[q].value)
                        }
                    }
                })
            },
            //获取运价查询
            initData() {
                var codeArr = JSON.parse(JSON.stringify(this.twoLetterCode1))
                if (this.volume && this.weight) {
                    var chargedWeight = Math.ceil(Number(this.volume) * this.weightPrice) > this.weight ? Math.ceil(Number(this.volume) * this.weightPrice) : this.weight
                } else {
                    var chargedWeight = ''
                }
                chargedWeight = chargedWeight === 'null' ? '' : chargedWeight
                var data = {
                    cargoType: this.aircraftRadioName == '散货' ? 1 : 2,
                    dow: this.dow,
                    pageNum: this.pageNum,
                    pageSize: this.pageSize,
                    pod: this.pod,
                    pol: this.pol,
                    twoLetterCode: codeArr.toString(),
                    vwr:(this.weight=="") || (this.volume=="") || isNaN(this.weight/this.volume)? '' : Math.ceil((this.weight) / (this.volume)),
                    chargedWeight: chargedWeight || ''
                }
                data = toData(data)
                axios({
                    method: 'get',
                    url: webIp + serviceApi.noAuthSearchBaseRates + '?' + data,
                    headers: {
                      'tokenId': localStorage.getItem('tokenId') || ""
                    },
                }).then((data) => {
                    var data = data.data
                    if (data.code == 200) {
                        this.weekDatePrice = []
                        for (var q = 0; q < data.data.weekRatesVOS.length; q++) {
                            this.weekDatePrice.push(data.data.weekRatesVOS[q].value)
                        }
                        let now = new Date();
                        let currDate = now.getFullYear()+"/"+(now.getMonth()*1+1)+"/"+now.getDate()
                        this.dateArr.forEach((item,index)=>{
                            item.disabled=false
                            if(this.weekDatePrice[item.isDow - 1] == null){
                                item.disabled=true
                            }
                            if((new Date(item.date) - new Date(currDate))<0){
                                item.disabled=true
                            }
                            if(!item.disabled && this.dateTabActive==''){
                                this.dateTabActive = this.splitDate(item.date);
                                this.dow=item.dow;
                                this.dateValue = index;
                            }

                        })
                        this.currentDayWeekDate.forEach((item,index)=>{
                           item.disabled=false;
                            if(this.weekDatePrice[index] == null){
                                item.disabled=true
                            }
                            if((new Date(item.date) - new Date(currDate))<0){
                                item.disabled=true
                            }
                            if(index >= 14){
                                item.disabled=false
                            }
                            if(index % 7 == 0){
                                this.dateMoreArr[parseInt(index/7)]=[];
                            }
                            this.dateMoreArr[parseInt(index/7)].push(item);
                        })
                        console.log(this.dateTabActive)

                        this.priceArr = data.data.freightQueryVOS?data.data.freightQueryVOS:[];
                        this.initTwoCode()
                        // if (data.data.freightQueryVOS == null || data.data.freightQueryVOS.length==0) {
                        //     this.priceArr = []
                        //     if (this.actDay && len < 6) {
                        //         len += 1;
                        //         this.initData(len);
                        //     }
                        //     if (this.actDay && len == 6) {
                        //         this.actDay = false;
                        //         this.bookingDate = this.dateArr[len].date;
                        //         this.currentDay = this.dateArr[len].date;
                        //         this.dateValue = len;
                        //         this.dateTabActive = this.splitDate(this.dateArr[len].date);
                        //         this.dow = this.dateArr[len].dow;
                        //         this.initTwoCode()
                        //         this.twoLetterCode1 = [];
                        //     }
                        //     return
                        // } else {
                        //     if (this.actDay) {
                        //         this.bookingDate = this.dateArr[len].date;
                        //         this.dateTabActive = this.splitDate(this.dateArr[len].date);
                        //         this.dateValue = len;
                        //         this.currentDay = this.dateArr[len].date;
                        //         this.dow = this.dateArr[len].dow;
                        //         this.initTwoCode()
                        //         this.twoLetterCode1 = [];
                        //     }
                        //     this.actDay = false;
                        // }


                        for (var i = 0; i < this.priceArr.length; i++) {
                            this.priceArr[i].legDetail = this.priceArr[i].legDetail ? JSON.parse(this.priceArr[i].legDetail) : []
                            this.priceArr[i].isShow = false;
                            this.priceArr[i].isShowType = 1;
                            this.priceArr[i].sortMTop = this.initSort(JSON.parse(JSON.stringify(this.priceArr[i].rates)), 'M', 'top')
                            this.priceArr[i].sortMBottom = this.initSort(JSON.parse(JSON.stringify(this.priceArr[i].rates)), 'M', 'bottom')
                            this.priceArr[i].sort45Top = this.initSort(JSON.parse(JSON.stringify(this.priceArr[i].rates)), '45', 'top')
                            this.priceArr[i].sort45Bottom = this.initSort(JSON.parse(JSON.stringify(this.priceArr[i].rates)), '45', 'bottom')
                            this.priceArr[i].sort100Top = this.initSort(JSON.parse(JSON.stringify(this.priceArr[i].rates)), '100', 'top')
                            this.priceArr[i].sort100Bottom = this.initSort(JSON.parse(JSON.stringify(this.priceArr[i].rates)), '100', 'bottom')
                            this.priceArr[i].sort300Top = this.initSort(JSON.parse(JSON.stringify(this.priceArr[i].rates)), '300', 'top')
                            this.priceArr[i].sort300Bottom = this.initSort(JSON.parse(JSON.stringify(this.priceArr[i].rates)), '300', 'bottom')
                            this.priceArr[i].sort500Top = this.initSort(JSON.parse(JSON.stringify(this.priceArr[i].rates)), '500', 'top')
                            this.priceArr[i].sort500Bottom = this.initSort(JSON.parse(JSON.stringify(this.priceArr[i].rates)), '500', 'bottom')
                            this.priceArr[i].sort1000Top = this.initSort(JSON.parse(JSON.stringify(this.priceArr[i].rates)), '1000', 'top')
                            this.priceArr[i].sort1000Bottom = this.initSort(JSON.parse(JSON.stringify(this.priceArr[i].rates)), '1000', 'bottom')
                        }

                    } else {
                        this.priceArr = []
                    }
                }).catch((err)=>{

                })
            },
            initSort(data, value, type) {
                var newData
                if (value == 'M' && type == 'top') {
                    newData = data.sort(function (a, b) {
                        return b.ratesN - a.ratesN
                    })
                    return newData[0].ratesN
                } else if (value == 'M' && type == 'bottom') {
                    newData = data.sort(function (a, b) {
                        return a.ratesN - b.ratesN
                    })
                    return newData[0].ratesN
                } else if (value == '45' && type == 'top') {
                    newData = data.sort(function (a, b) {
                        return b.ratesLevel1 - a.ratesLevel1
                    })
                    return newData[0].ratesLevel1
                } else if (value == '45' && type == 'bottom') {
                    newData = data.sort(function (a, b) {
                        return a.ratesLevel1 - b.ratesLevel1
                    })
                    return newData[0].ratesLevel1
                } else if (value == '100' && type == 'top') {
                    newData = data.sort(function (a, b) {
                        return b.ratesLevel2 - a.ratesLevel2
                    })
                    return newData[0].ratesLevel2
                } else if (value == '100' && type == 'bottom') {
                    newData = data.sort(function (a, b) {
                        return a.ratesLevel2 - b.ratesLevel2
                    })
                    return newData[0].ratesLevel2
                } else if (value == '300' && type == 'top') {
                    newData = data.sort(function (a, b) {
                        return b.ratesLevel3 - a.ratesLevel3
                    })
                    return newData[0].ratesLevel3
                } else if (value == '300' && type == 'bottom') {
                    newData = data.sort(function (a, b) {
                        return a.ratesLevel3 - b.ratesLevel3
                    })
                    return newData[0].ratesLevel3
                } else if (value == '500' && type == 'top') {
                    newData = data.sort(function (a, b) {
                        return b.ratesLevel4 - a.ratesLevel4
                    })
                    return newData[0].ratesLevel4
                } else if (value == '500' && type == 'bottom') {
                    newData = data.sort(function (a, b) {
                        return a.ratesLevel4 - b.ratesLevel4
                    })
                    return newData[0].ratesLevel4
                } else if (value == '1000' && type == 'top') {
                    newData = data.sort(function (a, b) {
                        return b.ratesLevel5 - a.ratesLevel5
                    })
                    return newData[0].ratesLevel5
                } else if (value == '1000' && type == 'bottom') {
                    newData = data.sort(function (a, b) {
                        return a.ratesLevel5 - b.ratesLevel5
                    })
                    return newData[0].ratesLevel5
                }
            },
            // --------------------------------------------------------------------------------------
            //订舱
            bookingSpace(item) {
              const id = item.id
                if (localStorage.getItem('certificationBody') == 'null' || localStorage.getItem('certificationBody') == '') {
                    this.$alert('当前帐户未绑定认证主体，订舱失败，请联系客服人员', '提示', {
                        confirmButtonText: '确定',
                        callback: action => {
                        }
                    })
                } else {
                    // 普通订舱
                    // var dow = this.dow == 0 ? 7 : this.dow
                    // var aircraftRadioName = this.aircraftRadioName == '散货' ? 1 : 2
                    // window.location.href = './bookingSpace.html?airlineId=' + id + '&cargoType=' + aircraftRadioName + '&dow=' + dow + '&date=' + this.bookingDate + '&bookingPiece=' + this.piece + '&bookingWeight=' + this.weight + '&bookingCbm=' + this.volume

                    // 一键订舱
                    const searchObj = {
                      pol: this.pol, // 起飞港
                      pod: this.pod, // 目的港
                      piece: Number(this.piece), // 件
                      volume: Number(this.volume), // 体积
                      weight: Number(this.weight), // 重量
                      airCompanyCode: item.airCompanyCode, // 航司代码
                    }
                    // 为了兼容IE Object Array 方法不能用
                    let searchArr = []
                    for (const key in searchObj) {
                      const val = searchObj[key]
                      if (val) {
                        searchArr.push({
                          key: key,
                          value: val,
                        })
                      }
                    }
                    const search = searchArr.reduce((str, item, index) => {
                      if (str.includes('?')) {
                        str += `&${item.key}=${item.value}`
                      } else {
                        str += `?${item.key}=${item.value}`
                      }
                      return str
                    }, '')
                    window.location.href = `./quick.html${search}`
                }

            },
            dateItemClick(index, date, ind,item) {
                if(item.disabled){
                    return false
                }
                this.bookingDate = date
                this.currentDay = date
                this.dateTabActive = this.splitDate(date)
                this.dow = item.isDow
                this.dateValue = ind;
                this.initData()
                // this.initTwoCode()
                this.twoLetterCode1 = []
            },
            //货物类型单选
            aircraftRadioClick(name) {
                this.aircraftRadioName = name
                this.initData()
            },
            //登录
            loginClick() {
                window.location.href = './login.html'
            },
            // muen
            menuClick(index) {
                this.menuIndex = index
                if(index == 0){
                    window.location.href = './index.html';
                } else if (index == 1) {
                    window.location.href = './trackSearch.html?trackSearchInput=';
                }else if(index == 2){
                    window.location.href = './addressSerach.html'
                }else if(index == 3){
                    window.location.href = './about_us.html'
                }
            }
        }
    })
</script>
</html>
