<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
		<meta name="format-detection" content="telephone=no,address=no,email=no">
		<meta name="applicable-device" content="pc,mobile">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta http-equiv="Cache-Control" content="no-transform">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="renderer" content="webkit">
		<meta name="description" content="领先的国际货运智能化数字服务平台，拥有极速订舱、在线报关、航班跟踪、舱单生成四大功能，为国际货运企业提供灵活、专业、高效的一站式国际货运解决方案。">
		<meta name="keywords" content="空运,货运代理,航空货运,空运价格,国际货代,国际空运,订舱,空运货物查询跟踪,订舱报价,空运舱位,空运费查询,跨境物流,走空运找哪里">
		<link rel='icon' href='./img/favicon.ico' type='image/x-icon' />
		<title>17订舱-国际货代-空运价格-在线订舱-航线-一站式国际货运在线服务平台</title>
		<link rel="stylesheet" href="./css/reset.css" />
		<link rel="stylesheet" href="./css/common.css" />
		<script src="./js/vue.js"></script>
		<script src="./js/axios.min.js"></script>
		<script src="./js/forbidden.js"></script>
		   <script src="./js/forbibben.js"></script>
		<style>
			.login-bg{
				height: calc(100vh - 140px);
				min-height: 500px;
				width: 100%;
				min-width: 1200px;
				background-image: url(../img/login_bak.png);
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				display: flex;
				align-items: center;
			}
			.login-total{
				display: flex;
				justify-content: space-between;
				/* margin-top: -15vh; */
			}
			.login-from{
				width: 406px;
				height: 456px;
				background-color: #FFF;
				border-radius: 5px;
				position: relative;
			}
			.login-title{
				font-size: 20px;
				color: #000000;
				font-weight: 500;
				padding: 40px 0 0 37px;
				line-height: 100%;
			}
			.login-type{
				width: 134px;
				height: 32px;
				position: absolute;
				top: 12px;
				right: 12px;
				cursor: pointer;
			}
			.login-content{
				margin-top: 40px;
				text-align: center;
			}
			.login-content .qcode img{
				width: 150px;
				height: 150px;
			}
			.login-content .sao{
				font-size: 14px;
				color: #333;
				font-weight: 500;
				margin-top: 20px;
			}
			.login-content .gong{
				font-size: 14px;
				color: #2273CB;
				margin-bottom: 37px;
				margin-top: 13px;
			}
			.login-tips{
				color: #999;
				font-size: 14px;
				text-align: center;
				position: absolute;
				width: 100%;
				left: 50%;
				bottom: 35px;
				transform: translateX(-50%);
			}
			.login-tips > a{
				color: #2273CB;
				padding: 0;
			}
		</style>
		<script>
			var _hmt = _hmt || [];
			(function() {
				var hm = document.createElement("script");
				hm.src = "https://hm.baidu.com/hm.js?6557743b6903181767d9b1a4d7458530";
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(hm, s);
			})();
		</script>
	</head>
	<body  >
		<div id="app">
			<div class="login-bg">
				<div class="com-width login-total">
					<div style="margin-top: 100px;">
						<img alt="图片" src="img/login.svg" style="width: 350px;height: 105px;"/>
					</div>
					<div class="login-from">
						<div v-if="typeImg" @click="imgClick" style="display: flex;position: relative;align-items: center;justify-content: flex-end;margin: 15px 15px 0 0;cursor: pointer ">
							<p style="position: absolute;top: 50%;transform: translateY(-50%);right: 52px">账号密码登录</p>
							<img src="img/xinx.png" style="width:106px">
							<svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="32" width="32">
								<path  fill="#999" d="M25.6,5.33V19.2H10.11L6.4,15.37v-10ZM28.7,0A3.3,3.3,0,0,1,32,3.3h0V21.87a3.3,3.3,0,0,1-3.3,3.3H20.58v4.56h5.7A1.14,1.14,0,1,1,26.35,32H22.84l-9.08-9.08h16V2.34H2.28v9.1L0,9.17V3.3A3.3,3.3,0,0,1,3.3,0Z"/>
							</svg>
						</div>
						<div v-if="!typeImg" @click="imgClick" style="display: flex;position: relative;align-items: center;justify-content: flex-end;margin: 15px 15px 0 0;cursor: pointer ">
							<p style="position: absolute;top: 50%;transform: translateY(-50%);right: 45px">扫码登录更安全</p>
							<img src="img/xinx.png" style="width:106px">
													<svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="32" width="32">
														<path fill="#999" d="M32,24.46V32H26.67l-2.19-2.19V28.24h3.76V24.48H32ZM24.46,20.7v7.54H22.9l-2.2-2.19V20.72h3.76ZM32,16.94V20.7H28.24V16.94Zm-11.3,0V20.7H16.94V16.94Zm-5.64,0V20.4L11.6,16.94ZM32,0V15.06H16.94V0ZM15.06,0V15.06H9.73L6,11.3H11.3V3.76H3.76V9.09L0,5.33V0ZM28.24,3.76H20.7V11.3h7.54ZM9.41,5.65V9.41H5.65V5.65Zm16.94,0V9.41H22.59V5.65Z"/>
													</svg>
						</div>
<!--						<img alt="图片" v-if="typeImg" @click="imgClick" src="./img/zhanghao.png" class="login-type"/>-->
<!--						<img alt="图片" v-if="!typeImg" @click="imgClick" src="./img/saoma.png" class="login-type"/>-->
						<div v-if="typeImg" class="login-title">微信扫码登录/注册</div>
						<div v-if="!typeImg" class="login-title">账号登录</div>
						<div v-if="typeImg" class="login-content" style="position: relative">
<!--							<div  class="qcode" ><img alt="图片" :src="imgQrCode"/></div>-->
							<div  class="qcode" ><img alt="图片" :src="imgQrCode" :style="{opacity:  !shixiao?'0.3':'1'}" /></div>
							<div  class="qcode"
										v-if="!shixiao"
										@click="shuaxinClick"
									 style="
									 position: absolute;
									 left: 50%;
									 top:0;
									 transform: translateX(-50%);
									 width: 150px;
									 height: 150px;
									 text-align: center;
									 font-size: 0;
									 margin: 0 auto;
									 background-color: rgba(225, 225, 225, 0.5);
									 display: flex;
									 flex-direction: column;
									 align-items: center;
									 justify-content: center;
									">
								<p style="font-size: 18px;
									font-weight: 500;

									color: #333333;
									">二维码已超时</p>
								<div style="width: 84px;
										height: 30px;
										background: #FFFFFF;
										display: flex;
										align-items: center;
										margin-top: 20px;
									justify-content: center;
									cursor: pointer;
										"
								>
									<img  alt="图片" src="./img/shuaxin.png"
											 style="width: 16px;height: 16px;cursor: pointer;"/>
									<span style="font-size: 12px;
											font-weight: 500;
											margin-left: 5px;
											color: #2273CB;">点击刷新</span>
								</div>

							</div>
							<div class="sao">请使用微信扫描二维码</div>
							<div class="gong">关注“17订舱”公众号</div>
						</div>
						<div v-if="!typeImg" class="login-content input-content" style="margin: 40px 37px 0;">
							<div class="input-item">
								<div class="input-icon1"></div>
								<input  v-model="tel" maxlength="11" @focus="isError = false" placeholder="请输入手机号" class="pub input-inner" type="text" />
							</div>
							<div class="input-item com-top30">
								<div class="input-icon2"></div>
								<input v-model="password" @focus="isError = false" @keyup.enter="submitClick" placeholder="请输入密码" class="pub input-inner" type="password" />
							</div>
							<div class="input-tips" :style="{visibility: !isError ? 'hidden' : 'visible'}">{{errorText}}</div>
							<div class="input-text"><a href="./register_pass.html">忘记密码</a></div>
							<div class="input-item com-top30 com-bottom30">
								<button @click="submitClick" class="input-btn btn-prprimary">登录</button>
							</div>
						</div>
						<div class="login-tips">登录/注册即代表您同意<a href="./agreement.html">《17订舱隐私协议》</a></div>
					</div>
				</div>
			</div>
			<!-- 尾部 -->
			<div class="footer">
				<div class="com-width">
					<div class="footer-content">
						<div class="footer-label">
							<div class="footer-cool" style="margin-bottom: 10px;">
								<span>Copyright © 2020-2021 17dc.com  丨  <img src="./img/footer-wangjing.png" style="width: 16px;height: 16px; vertical-align: top;" /><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011802004581" class="register-system-info">沪公网安备 31011802004581号</a>  丨  <a target="_blank" href="./yingyezhizhaoImg.html" class="yingyezhizhao">营业执照</a></span>
							</div>
							<!-- <div class="footer-cool" style="margin-bottom: 10px;display: flex;align-items: center;justify-content: center;">
								<img src="./img/footer-wangjing.png" style="width: 16px;height: 16px;margin-right: 10px;" />
								<span>沪公网备XXXXXXXXXXXXX号</span>
							</div> -->
							<div class="footer-ipc">上海傲晔物流科技有限公司  丨  上海市青浦区诸光路1588弄虹桥世界中心L3B栋  丨  <a target="_blank" href="https://beian.miit.gov.cn/#/Integrated/index">沪ICP备2021024815号-1</a></div>
						</div>
						<div class="footer-img"><img alt="图片" src="./img/qcode.png" /></div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="./service/index.js"></script>
	<script src="./js/utils.js"></script>
	<script>
		new Vue({
			el: '#app',
			data: {
				typeImg: true,
				uuid: '',
				imgQrCode: '',
				socket: '',
				isError: false,
				errorText: '请输入',
				openId: '',
				tel: '',
				password: '',
				shixiao: true,
				yzmTime: 60,
				yzmInterval: null,
                timeout: 20 * 1000, //20秒一次心跳
                timeoutObj: null, //心跳心跳倒计时
                serverTimeoutObj: null, //心跳倒计时
			},
			created() {
				this.uuid = localStorage.getItem('dcUuid')
				if(!this.uuid){
					var newUuid = getGuid()
					localStorage.setItem('dcUuid',newUuid)
					this.uuid = newUuid
				}
				this.initQrCode()
			},
			mounted() {
                //停止定时调用二维码接口
				/*setInterval(() => {
					this.initQrCode()
				},60000)*/
				this.initWebSocket()
				this.daojishi()
			},
			methods: {
                reset() {
                    //重置心跳
                    var that = this;
                    //清除时间
                    clearTimeout(that.timeoutObj);
                    clearTimeout(that.serverTimeoutObj);
                    //重启心跳
                    that.start();
                },
                start() {
                    //开启心跳
                    var self = this;
                    self.timeoutObj && clearTimeout(self.timeoutObj);
                    self.serverTimeoutObj && clearTimeout(self.serverTimeoutObj);
                    self.timeoutObj = setTimeout(function() {
                        //这里发送一个心跳，后端收到后，返回一个心跳消息
                        if (self.socket.readyState == 1) {
                            //如果连接正常
                            self.socket.send("ping");
                        } else {
                            //否则重连
                            // self.reconnect();
                        }
                        self.serverTimeoutObj = setTimeout(function() {
                            //超时关闭
                            self.socket.close();
                        }, self.timeout);
                    }, self.timeout);
                },
				shuaxinClick() {
					this.shixiao = true
					this.initWebSocket()
					this.daojishi()
				},
				daojishi() {
					this.yzmInterval = setInterval(() => {
						if (this.yzmTime > 0 && this.yzmTime <= 60) {
							this.yzmTime --
						} else {
                            this.socket.close()
							this.yzmTime = 60
							this.shixiao = false
							clearInterval(this.yzmInterval)
							this.yzmInterval = null;
						}
					}, 1000)
				},
				submitClick() {
					var reg = /^(1[3456789])\d{9}$/
					var regpass = /^[0-9A-Za-z]{6,20}$/
					if(!reg.test(this.tel)){
						this.isError = true
						this.errorText = '请输入有效的手机号码'
						return
					}else if(!regpass.test(this.password)){
						this.isError = true
						this.errorText = '请输入有效的密码'
						return
					}
					this.isError = false
					var data = {
						password: this.password,
						tel: this.tel
					}
					axios({
						method: 'post',
						url: webIp+serviceApi.userLogin,
						data: data
					}).then((data) =>{
						var data = data.data
						if(data.code == 200){
							localStorage.setItem('userInfo',JSON.stringify(data.data.tportalUser))
							localStorage.setItem('wxOpenId',data.data.tportalUser.wechatOpenId)
							localStorage.setItem('tokenId',data.data.tokenId)
							localStorage.setItem('certificationBody',data.data.tportalUser.certificationBody)
							DcUtils.redirectLogin()
						}else{
							this.isError = true
							this.errorText = data.message
						}
					})
				},



				initWebSocket: function () {
					if(typeof(WebSocket) === "undefined"){
						alert("您的浏览器不支持socket")
					}else{
						// 实例化socket
						this.socket = new WebSocket(websocketUrl+this.uuid)
						// 监听socket连接
						this.socket.onopen = this.open
						// 监听socket错误信息
						this.socket.onerror = this.error
						// 监听socket消息
						this.socket.onmessage = this.getMessage
					}
				},
				open: function () {
					console.log("socket连接成功")
                    // this.start();
				},
				error: function () {
					console.log("连接错误")
				},
				getMessage: function (msg) {
                    if (msg.data=="pong"){
                        //心跳重置
                        // this.reset();
                        return;
                    }
					var data = JSON.parse(msg.data)
					if(data.type == '0'){
						window.location.href = './register.html?openId='+data.openId
					}else if(data.type == '1'){
						localStorage.setItem('wxOpenId',data.openId)
						axios({
							method: 'get',
							url: webIp+serviceApi.userUserInfo+'?openId='+data.openId,
							headers: {
								'tokenId': data.tokenId
							}
						}).then((user) => {
							var user = user.data
							if(user.code == 200){
								localStorage.setItem('userInfo',JSON.stringify(user.data.tportalUser))
								localStorage.setItem('wxOpenId',user.data.tportalUser.wechatOpenId)
								localStorage.setItem('tokenId',user.data.tokenId)
								localStorage.setItem('certificationBody',user.data.tportalUser.certificationBody)
								DcUtils.redirectLogin()
							}
						})
					}
				},
				send: function () {
					this.socket.send(params)
				},
				close: function () {
					console.log("socket已经关闭")
					this.initWebSocket()
				},
				initQrCode() {
					axios({
						method: 'get',
						url: webIp+serviceApi.noAuthQrCode+'?scene=login_'+this.uuid
					}).then((data) =>{
						var data = data.data
						if(data.code == 200){
							this.imgQrCode = 'data:image/png;base64,'+data.data
						}else{
							this.isError = true
							this.errorText = data.message
						}
					})
				},
				imgClick() {
					this.typeImg = !this.typeImg
				}
			},
			destroyed () {
				// 销毁监听
				this.socket.onclose = this.close
			}
		})
	</script>
</html>
