<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
		<meta name="format-detection" content="telephone=no,address=no,email=no">
		<meta name="applicable-device" content="pc,mobile">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta http-equiv="Cache-Control" content="no-transform">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="renderer" content="webkit">
		<meta name="description" content="领先的国际货运智能化数字服务平台，拥有极速订舱、在线报关、航班跟踪、舱单生成四大功能，为国际货运企业提供灵活、专业、高效的一站式国际货运解决方案。">
		<meta name="keywords" content="空运,货运代理,航空货运,空运价格,国际货代,国际空运,订舱,空运货物查询跟踪,订舱报价,空运舱位,空运费查询,跨境物流,走空运找哪里">
		<link rel='icon' href='./img/favicon.ico' type='image/x-icon' />
		<title>17订舱-国际货代-空运价格-在线订舱-航线-一站式国际货运在线服务平台</title>
		<link rel="stylesheet" href="./css/reset.css" />
		<link rel="stylesheet" href="./css/common.css" />
		<script src="./js/vue.js"></script>
		<script src="./js/axios.min.js"></script>
		<style>
			.login-bg{
				height: calc(100vh - 140px);
				min-height: 500px;
				width: 100%;
				min-width: 1200px;
				background-image: url(../img/login_bak.png);
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				display: flex;
				align-items: center;
			}
			.login-total{
				display: flex;
				justify-content: space-between;
				/* margin-top: -15vh; */
			}
			.login-from{
				width: 406px;
				height: 456px;
				background-color: #FFF;
				border-radius: 5px;
				position: relative;
			}
			.login-title{
				font-size: 20px;
				color: #000000;
				font-weight: 500;
				padding: 60px 0 0 37px;
				line-height: 100%;
			}
			.login-type{
				width: 134px;
				height: 32px;
				position: absolute;
				top: 12px;
				right: 12px;
				cursor: pointer;
			}
			.login-content{
				margin-top: 40px;
				text-align: center;
			}
			.login-content .qcode img{
				width: 150px;
				height: 150px;
			}
			.login-content .sao{
				font-size: 14px;
				color: #333;
				font-weight: 500;
				margin-top: 20px;
			}
			.login-content .gong{
				font-size: 14px;
				color: #2273CB;
				margin-bottom: 37px;
				margin-top: 13px;
			}
			.login-tips{
				color: #999;
				font-size: 14px;
				text-align: center;
			}
			.login-tips > a{
				color: #2273CB;
				padding: 0;
			}
		</style>
		<script>
			var _hmt = _hmt || [];
			(function() {
				var hm = document.createElement("script");
				hm.src = "https://hm.baidu.com/hm.js?6557743b6903181767d9b1a4d7458530";
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(hm, s);
			})();
		</script>
	</head>
	<body>
		<div id="app" style="font-size: 0;">
			<div class="login-bg">
				<div class="com-width login-total">
					<div style="margin-top: 100px;">
						<img alt="图片" src="img/login.svg" style="width: 350px;height: 105px;"/>
					</div>
					<div class="login-from">
						<img alt="图片" v-if="typeImg" @click="imgClick" src="./img/zhanghao.png" class="login-type"/>
						<img alt="图片" v-if="!typeImg" @click="imgClick" src="./img/saoma.png" class="login-type"/>
						<div v-if="typeImg" class="login-title">微信扫码登录/注册</div>
						<div v-if="!typeImg" class="login-title">账号登录</div>
						<div v-if="typeImg" class="login-content">
							<div v-if="shixiao" class="qcode"><img alt="图片" :src="imgQrCode" /></div>
							<div v-else class="qcode" style="width: 150px;height: 150px;text-align: center;font-size: 0;margin: 0 auto;line-height: 150px;background-color: rgba(153, 153, 153, 0.05);border-radius: 10px;"><img @click="shuaxinClick" alt="图片" src="./img/shuaxin.png" style="width: 42px;height: 42px;cursor: pointer;"/></div>
							<div class="sao">请使用微信扫描二维码</div>
							<div class="gong">关注“17订舱”公众号</div>
						</div>
						<div v-if="!typeImg" class="login-content input-content" style="margin: 40px 37px 0;">
							<div class="input-item">
								<input v-model="tel" maxlength="11" @focus="isError = false" placeholder="账号" class="input-inner input-icon1" type="text" />
							</div>
							<div class="input-item com-top30">
								<input v-model="password" @focus="isError = false" placeholder="密码" class="input-inner input-icon2" type="password" />
							</div>
							<div class="input-tips" :style="{visibility: !isError ? 'hidden' : 'visible'}">{{errorText}}</div>
							<div class="input-text"><a href="./register_pass.html">忘记密码</a></div>
							<div class="input-item com-top30 com-bottom30">
								<button @click="submitClick" class="input-btn btn-prprimary">登录</button>
							</div>
						</div>
						<div class="login-tips">登录/注册即代表您同意<a href="./agreement.html">《17订舱隐私协议》</a></div>
					</div>
				</div>
			</div>
			<!-- 尾部 -->
			<div class="footer">
				<div class="com-width">
					<div class="footer-content">
						<div class="footer-label">
							<div class="footer-cool" style="margin-bottom: 10px;">
								<span>Copyright © 2020-2021 17dc.com  丨  沪ICP备2021024815号-1  丨  <a target="_blank" href="./yingyezhizhaoImg.html" class="yingyezhizhao">营业执照</a></span>
							</div>
							<!-- <div class="footer-cool" style="margin-bottom: 10px;display: flex;align-items: center;justify-content: center;">
								<img src="./img/footer-wangjing.png" style="width: 16px;height: 16px;margin-right: 10px;" />
								<span>沪公网备XXXXXXXXXXXXX号</span>
							</div> -->
							<div class="footer-ipc">上海傲晔物流科技有限公司  丨  上海市青浦区诸光路1588弄虹桥世界中心L3B栋</div>
						</div>
						<div class="footer-img"><img alt="图片" src="./img/qcode.png" /></div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="./service/index.js"></script>
	<script>
		new Vue({
			el: '#app',
			data: {
				typeImg: true,
				uuid: '',
				imgQrCode: '',
				socket: '',
				isError: false,
				errorText: '请输入',
				openId: '',
				tel: '',
				password: '',
				shixiao: true,
				yzmTime: 60,
				yzmInterval: null,
			},
			created() {
				this.uuid = localStorage.getItem('dcUuid')
				if(!this.uuid){
					var newUuid = getGuid()
					localStorage.setItem('dcUuid',newUuid)
					this.uuid = newUuid
				}
				this.initQrCode()
			},
			mounted() {
				setInterval(() => {
					this.initQrCode()
				},60000)
				this.initWebSocket()
				this.daojishi()
			},
			methods: {
                heartCheckFun(){
                    var that = this;
                    //心跳检测,每20s心跳一次
                    that.heartCheck = {
                        timeout: 20000,
                        timeoutObj: null,
                        serverTimeoutObj: null,
                        reset: function(){
                            clearTimeout(this.timeoutObj);
                            clearTimeout(this.serverTimeoutObj);
                            return this;
                        },
                        start: function(){
                            var self = this;
                            this.timeoutObj = setTimeout(function(){
                                //这里发送一个心跳，后端收到后，返回一个心跳消息，
                                //onmessage拿到返回的心跳就说明连接正常
                                that.socket.send("ping")
                                console.info("客户端发送心跳");
                                self.serverTimeoutObj = setTimeout(function(){//如果超过一定时间还没重置，说明后端主动断开了
                                    that.socket.close();//如果onclose会执行reconnect，我们执行ws.close()就行了.如果直接执行reconnect 会触发onclose导致重连两次
                                }, self.timeout)
                            }, this.timeout)
                        }
                    }
                },
                heartCheck(){
                    setInterval(()=>{
                        this.heartCheckFun()
                    },20000)
                },
				shuaxinClick() {
					this.shixiao = true
					this.initWebSocket()
					this.daojishi()
				},
				daojishi() {
					this.yzmInterval = setInterval(() => {
						if (this.yzmTime > 0 && this.yzmTime <= 60) {
							this.yzmTime --
						} else {
							this.yzmTime = 60
							this.shixiao = false
							clearInterval(this.yzmInterval)
							this.yzmInterval = null;
						}
					}, 1000)
				},
				submitClick() {
					var reg = /^(1[3456789])\d{9}$/
					var regpass = /^[0-9A-Za-z]{6,20}$/
					if(!reg.test(this.tel)){
						this.isError = true
						this.errorText = '请输入有效的手机号码'
						return
					}else if(!regpass.test(this.password)){
						this.isError = true
						this.errorText = '请输入有效的密码'
						return
					}
					this.isError = false
					var data = {
						password: this.password,
						tel: this.tel
					}
					axios({
						method: 'post',
						url: webIp+serviceApi.userLogin,
						data: data
					}).then((data) =>{
						var data = data.data
						if(data.code == 200){
							localStorage.setItem('userInfo',JSON.stringify(data.data.tportalUser))
							localStorage.setItem('wxOpenId',data.data.tportalUser.wechatOpenId)
							localStorage.setItem('tokenId',data.data.tokenId)
							localStorage.setItem('certificationBody',data.data.tportalUser.certificationBody)
							window.location.href = './index.html'
						}else{
							this.isError = true
							this.errorText = data.message
						}
					})
				},



				initWebSocket: function () {
					if(typeof(WebSocket) === "undefined"){
						alert("您的浏览器不支持socket")
					}else{
						// 实例化socket
						this.socket = new WebSocket(websocketUrl+this.uuid)
						// 监听socket连接
						this.socket.onopen = this.open
						// 监听socket错误信息
						this.socket.onerror = this.error
						// 监听socket消息
						this.socket.onmessage = this.getMessage
					}
				},
				open: function () {
					console.log("socket连接成功")
				},
				error: function () {
					console.log("连接错误")
				},
				getMessage: function (msg) {
                    console.log(msg)
					var data = JSON.parse(msg.data)
					if(data.type == '0'){
						window.location.href = './register.html?openId='+data.openId
					}else if(data.type == '1'){
						localStorage.setItem('wxOpenId',data.openId)
						axios({
							method: 'get',
							url: webIp+serviceApi.userUserInfo+'?openId='+data.openId,
							headers: {
								'tokenId': data.tokenId
							}
						}).then((user) => {
							var user = user.data
							if(user.code == 200){
								localStorage.setItem('userInfo',JSON.stringify(user.data.tportalUser))
								localStorage.setItem('wxOpenId',user.data.tportalUser.wechatOpenId)
								localStorage.setItem('tokenId',user.data.tokenId)
								localStorage.setItem('certificationBody',user.data.tportalUser.certificationBody)
								window.location.href = './index.html'
							}
						})
					}
				},
				send: function () {
					this.socket.send(params)
				},
				close: function () {
					console.log("socket已经关闭")
					this.initWebSocket()
				},
				initQrCode() {
					axios({
						method: 'get',
						url: webIp+serviceApi.noAuthQrCode+'?scene=login_'+this.uuid
					}).then((data) =>{
						var data = data.data
						if(data.code == 200){
							this.imgQrCode = 'data:image/png;base64,'+data.data
						}else{
							this.isError = true
							this.errorText = data.message
						}
					})
				},
				imgClick() {
					this.typeImg = !this.typeImg
				}
			},
			destroyed () {
				// 销毁监听
				this.socket.onclose = this.close
			}
		})
	</script>
</html>
