<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
		<meta name="format-detection" content="telephone=no,address=no,email=no">
		<meta name="applicable-device" content="pc,mobile">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta http-equiv="Cache-Control" content="no-transform">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="renderer" content="webkit">
		<meta name="description" content="领先的国际货运智能化数字服务平台，拥有极速订舱、在线报关、航班跟踪、舱单生成四大功能，为国际货运企业提供灵活、专业、高效的一站式国际货运解决方案。">
		<meta name="keywords" content="空运,货运代理,航空货运,空运价格,国际货代,国际空运,订舱,空运货物查询跟踪,订舱报价,空运舱位,空运费查询,跨境物流,走空运找哪里">
		<link rel='icon' href='./img/favicon.ico' type='image/x-icon' />
		<title>17订舱-国际货代-空运价格-在线订舱-航线-一站式国际货运在线服务平台</title>
		<link rel="stylesheet" href="./css/element-ui-min.css">
		<link rel="stylesheet" href="./css/reset.css" />
		<link rel="stylesheet" href="./css/common.css" />
		<script src="./js/vue.js"></script>
		<script src="./js/axios.min.js"></script>
		<script src="./js/element-ui.js"></script>
		<script>
			var _hmt = _hmt || [];
			(function() {
				var hm = document.createElement("script");
				hm.src = "https://hm.baidu.com/hm.js?6557743b6903181767d9b1a4d7458530";
				var s = document.getElementsByTagName("script")[0]; 
				s.parentNode.insertBefore(hm, s);
			})();
		</script>
	</head>
	<body>
		<div id="app" style="font-size: 0;">
			<!-- 头部 -->
			<div class="header">
				<div class="header-img">
					<a href="./index.html">
						<!-- <img class="logo" src="./img/logo.png" /> -->
						<div class="logo"></div>
					</a>
					<div class="logo-title"></div>
				</div>
				<div @click="loginClick" class="header-user">登录</div>
			</div>
			<div class="header-menu">
				<ul class="header-menu-list com-width">
					<li @click="menuClick(0)" :class="{headerActive: menuIndex == 0}" class="header-menu-content">首页</li>
					<li @click="menuClick(1)" :class="{headerActive: menuIndex == 1}" class="header-menu-content">订单跟踪</li>
					<!-- <li @click="menuClick(2)" :class="{headerActive: menuIndex == 2}" class="header-menu-content">行业咨询</li> -->
					<li @click="menuClick(3)" :class="{headerActive: menuIndex == 3}" class="header-menu-content">关于我们</li>
				</ul>
			</div>
			<!-- 订单管理 -->
			<div class="order-list">
				<div class="com-width order-list-content">
					<div class="order-list-userInfo">
						<div class="list-userInfo-menu">
							<div class="userInfo-touxiang-list">
								<div class="userInfo-touxiang-img">
									<img alt="图片" :src="userInfo.headImgUrl" />
								</div>
								<div class="userInfo-huanyin">欢迎您{{userInfo.nickname}}</div>
								<div class="userInfo-youxiang">设置邮箱</div>
							</div>
							<ul class="userInfo-menu-list">
								<li><a>企业信息</a></li>
								<li class="menu-list-active"><a>订单管理</a></li>
								<li><a>财务管理</a></li>
							</ul>
						</div>
						<div class="list-userInfo-customer">
							<div class="userInfo-customer"><div>您的专属客服:</div><div>nana</div></div>
							<div class="userInfo-customer"><div>欢迎致电:</div><div>13567862626</div></div>
						</div>
					</div>
					<div class="order-list-manage">
						<div class="order-list-manage-title">订单管理</div>
						<div class="order-list-from">
							<el-form :inline="true" size="medium" label-width="60px" class="demo-form-inline">
								<div class="content-search-normal">
									<div>
										<el-form-item label="订单号">
											<el-input v-model="orderNo" onkeyup="value=value.replace(/[^\d\w]/g, '')" maxlength="15" placeholder="请输入订单号" style="width: 140px;"></el-input>
										</el-form-item>
										<el-form-item label="运单号">
											<el-input v-model="waybillNo" onkeyup="value=value.replace(/[^\d]/g, '')" maxlength="11" placeholder="请输入运单号" style="width: 140px;"></el-input>
										</el-form-item>
										<el-form-item label="进仓编号" label-width="75px">
											<el-input v-model="inboundNo" placeholder="请输入进仓编号" style="width: 140px;"></el-input>
										</el-form-item>
										<el-form-item label="航线">
											<el-select v-model="pol" placeholder="起运港" :remote-method="polMethod" :loading="loading" clearable filterable remote reserve-keyword style="width: 90px;">
												<el-option 
													v-for="(item,index) in polOpt" 
													:disabled="pod == item.threeLetterCode"
													:key="item.threeLetterCode" :value="item.threeLetterCode">
													<span>{{item.threeLetterCode}}</span>
													<span style="margin-left: 5px;">{{item.name}}</span>
												</el-option>
											</el-select>
											<div style="display: inline-block;background-image: url(./img/jiantou.png);margin: 0 5px;width: 16px;height: 30px;vertical-align: top;background-size: 16px 16px;background-repeat: no-repeat;background-position: center;"></div>
											<el-select v-model="pod" placeholder="目的港" :remote-method="podMethod" :loading="loading" clearable filterable remote reserve-keyword style="width: 90px;">
												<el-option 
													v-for="(item,index) in podOpt" 
													:disabled="pol == item.threeLetterCode"
													:key="item.threeLetterCode" :value="item.threeLetterCode">
													<span>{{item.threeLetterCode}}</span>
													<span style="margin-left: 5px;">{{item.name}}</span>
												</el-option>
											</el-select>
										</el-form-item>
									</div>
									<div>
										<el-form-item label="航司">
											<el-select v-model="airCompanyCode" placeholder="航司代码" :remote-method="companyMethod" :loading="loading" clearable filterable remote reserve-keyword style="width: 140px;">
												<el-option 
													v-for="item in airCompanyCodeOpt" 
													:key="item.airCompanyCode" 
													:value="item.airCompanyCode">
												  <span>{{item.airCompanyCode}}</span>
												  <span style="margin-left: 5px;">{{item.name}}</span>
												</el-option>
											</el-select>
										</el-form-item>
										<el-form-item label="出发日期" label-width="75px">
											<el-date-picker
											    v-model="departureDate"
											    type="daterange"
												style="width: 255px;"
											    range-separator="至"
											    start-placeholder="起始日期"
												value-format="yyyy-MM-dd"
											    end-placeholder="结束日期">
											</el-date-picker>
										</el-form-item>
										<el-form-item>
											<el-button @click="searchClick" size="medium" type="primary" icon="el-icon-search">查询</el-button>
											<el-button @click="restClick" size="medium" type="primary">清空</el-button>
										</el-form-item>
									</div>
								</div>
							</el-form>
						</div>
						<div class="tabs__nav-wrap">
							<el-tabs v-model="typeCode" type="border-card" @tab-click="tabClickData">
							    <el-tab-pane label="全部订单" name="全部订单">
									<div v-if="total == '0'" style="text-align: center;">
										<img alt="图片" src="./img/null.png" style="width: 262px; height: 201px;padding: 20px 0;">
										<div style="font-size: 14px;padding-bottom: 10px;color: #999;">暂无订单</div>
									</div>
									<ul v-if="total != '0'" class="nav-wrap-ul">
										<li @click="orderClick(item.id)" v-for="(item,index) in dataArr" :key="item.orderNo" class="nav-wrap-li">
											<div class="nav-wrap-order" style="display: flex;justify-content: space-between;">
												<div style="display: flex;">
													<div>订单号：{{item.orderNo}}</div>
													<div style="margin-left: 20px;">预订日期：{{item.orderTime}}</div>
												</div>
												<div v-if="item.status == '5'" style="color: #F00;margin-right: 20px;">确认倒计时：{{countTime(index,item.updateTime)}} {{item.timeOutA}}</div>
											</div>
											<div class="nav-wrap-content">
												<div class="nav-wrap-route">
													<div class="nav-wrap-logo">
														<img v-if="item.logoPath" alt="图片" :src="item.logoPath">
														<div>{{item.airCompanyName}}</div>
														<div>出发日期：{{item.departureDate}}</div>
													</div>
													<div class="nav-wrap-route-content">
														<div class="nav-wrap-route-info">
															<div>{{item.pol}}</div>
															<div>{{item.polName}}</div>
														</div>
														<div class="nav-wrap-route-zhida">{{item.legCount == '1' ? '直达' : '中转'}}</div>
														<div class="nav-wrap-route-info">
															<div>{{item.pod}}</div>
															<div>{{item.podName}}</div>
														</div>
													</div>
													<div v-if="item.status > 17 && item.inboundPiece" class="nav-wrap-route-remarks">
														<label>{{item.cargoName}}</label>
														<label>{{item.inboundPiece}}PCS</label>
														<label>{{item.inboundCbm}}CMB</label>
														<label>{{item.inboundWeight}}KG</label>
														<label>{{item.packageType == '1' ? '散货' : '托盘'}}</label>
													</div>
													<div v-else class="nav-wrap-route-remarks">
														<label v-if="item.status == '17'">订仓数据</label>
														<label>{{item.cargoName}}</label>
														<label>{{item.bookingPiece}}PCS</label>
														<label>{{item.bookingCbm}}CMB</label>
														<label>{{item.bookingWeight}}KG</label>
														<label>{{item.packageType == '1' ? '散货' : '托盘'}}</label>
													</div>
													<div v-if="item.status == '17'" class="nav-wrap-route-remarks" style="margin-top: 10px;">
														<label>进仓数据</label>
														<label>{{item.cargoName}}</label>
														<label :style="{color: item.inboundPiece == item.bookingPiece ? '#333' : '#F00'}">{{item.inboundPiece}}PCS</label>
														<label :style="{color: item.inboundCbm == item.bookingCbm ? '#333' : '#F00'}">{{item.inboundCbm}}CMB</label>
														<label :style="{color: item.inboundWeight == item.bookingWeight ? '#333' : '#F00'}">{{item.inboundWeight}}KG</label>
														<label>{{item.packageType == '1' ? '散货' : '托盘'}}</label>
													</div>
												</div>
												<div class="nav-wrap-right">
													<div class="nav-wrap-text">
														<div>{{item.statusDesc}}</div>
														<div>订舱单价 ￥{{item.bookingPrice}}</div>
													</div>
													<div v-if="priceType(item.totalArOrgn)" class="nav-wrap-price">{{priceType(item.totalArOrgn)}}起</div>
												</div>
											</div>
										</li>
									</ul>
									<div v-if="total != '0'" style="text-align: right;">
										<el-pagination
										  @current-change="handleCurrentChange"
										  :current-page="pageNum"
										  :page-size="pageSize"
										  layout="total, prev, pager, next, jumper"
										  :total="total">
										</el-pagination>
									</div>
								</el-tab-pane>
							    <el-tab-pane label="待审核" name="1">
									<div v-if="total == '0'" style="text-align: center;">
										<img alt="图片" src="./img/null.png" style="width: 262px; height: 201px;padding: 20px 0;">
										<div style="font-size: 14px;padding-bottom: 10px;color: #999;">暂无订单</div>
									</div>
									<ul v-if="total != '0'" class="nav-wrap-ul">
										<li @click="orderClick(item.id)" v-for="(item,index) in dataArr" :key="item.orderNo" class="nav-wrap-li">
											<div class="nav-wrap-order" style="display: flex;justify-content: space-between;">
												<div style="display: flex;">
													<div>订单号：{{item.orderNo}}</div>
													<div style="margin-left: 20px;">预订日期：{{item.orderTime}}</div>
												</div>
												<div v-if="item.status == '5'" style="color: #F00;margin-right: 20px;">确认倒计时：{{countTime(index,item.updateTime)}} {{item.timeOutA}}</div>
											</div>
											<div class="nav-wrap-content">
												<div class="nav-wrap-route">
													<div class="nav-wrap-logo">
														<img v-if="item.logoPath" alt="图片" :src="item.logoPath">
														<div>{{item.airCompanyName}}</div>
														<div>出发日期：{{item.departureDate}}</div>
													</div>
													<div class="nav-wrap-route-content">
														<div class="nav-wrap-route-info">
															<div>{{item.pol}}</div>
															<div>{{item.polName}}</div>
														</div>
														<div class="nav-wrap-route-zhida">{{item.legCount == '1' ? '直达' : '中转'}}</div>
														<div class="nav-wrap-route-info">
															<div>{{item.pod}}</div>
															<div>{{item.podName}}</div>
														</div>
													</div>
													<div v-if="item.status > 17 && item.inboundPiece" class="nav-wrap-route-remarks">
														<label>{{item.cargoName}}</label>
														<label>{{item.inboundPiece}}PCS</label>
														<label>{{item.inboundCbm}}CMB</label>
														<label>{{item.inboundWeight}}KG</label>
														<label>{{item.packageType == '1' ? '散货' : '托盘'}}</label>
													</div>
													<div v-else class="nav-wrap-route-remarks">
														<label>{{item.cargoName}}</label>
														<label>{{item.bookingPiece}}PCS</label>
														<label>{{item.bookingCbm}}CMB</label>
														<label>{{item.bookingWeight}}KG</label>
														<label>{{item.packageType == '1' ? '散货' : '托盘'}}</label>
													</div>
												</div>
												<div class="nav-wrap-right">
													<div class="nav-wrap-text">
														<div>{{item.statusDesc}}</div>
														<div>订舱单价 ￥{{item.bookingPrice}}</div>
													</div>
													<div v-if="priceType(item.totalArOrgn)" class="nav-wrap-price">{{priceType(item.totalArOrgn)}}起</div>
												</div>
											</div>
										</li>
									</ul>
									<div v-if="total != '0'" style="text-align: right;">
										<el-pagination
										  @current-change="handleCurrentChange"
										  :current-page="pageNum"
										  :page-size="pageSize"
										  layout="total, prev, pager, next, jumper"
										  :total="total">
										</el-pagination>
									</div>
								</el-tab-pane>
							    <el-tab-pane label="待进仓" name="2">
									<div v-if="total == '0'" style="text-align: center;">
										<img alt="图片" src="./img/null.png" style="width: 262px; height: 201px;padding: 20px 0;">
										<div style="font-size: 14px;padding-bottom: 10px;color: #999;">暂无订单</div>
									</div>
									<ul v-if="total != '0'" class="nav-wrap-ul">
										<li @click="orderClick(item.id)" v-for="item in dataArr" :key="item.orderNo" class="nav-wrap-li">
											<div class="nav-wrap-order">
												<div>订单号：{{item.orderNo}}</div>
												<div>预订日期：{{item.orderTime}}</div>
											</div>
											<div class="nav-wrap-content">
												<div class="nav-wrap-route">
													<div class="nav-wrap-logo">
														<img v-if="item.logoPath" alt="图片" :src="item.logoPath">
														<div>{{item.airCompanyName}}</div>
														<div>出发日期：{{item.departureDate}}</div>
													</div>
													<div class="nav-wrap-route-content">
														<div class="nav-wrap-route-info">
															<div>{{item.pol}}</div>
															<div>{{item.polName}}</div>
														</div>
														<div class="nav-wrap-route-zhida">{{item.legCount == '1' ? '直达' : '中转'}}</div>
														<div class="nav-wrap-route-info">
															<div>{{item.pod}}</div>
															<div>{{item.podName}}</div>
														</div>
													</div>
													<div v-if="item.status > 17 && item.inboundPiece" class="nav-wrap-route-remarks">
														<label>{{item.cargoName}}</label>
														<label>{{item.inboundPiece}}PCS</label>
														<label>{{item.inboundCbm}}CMB</label>
														<label>{{item.inboundWeight}}KG</label>
														<label>{{item.packageType == '1' ? '散货' : '托盘'}}</label>
													</div>
													<div v-else class="nav-wrap-route-remarks">
														<label>{{item.cargoName}}</label>
														<label>{{item.bookingPiece}}PCS</label>
														<label>{{item.bookingCbm}}CMB</label>
														<label>{{item.bookingWeight}}KG</label>
														<label>{{item.packageType == '1' ? '散货' : '托盘'}}</label>
													</div>
												</div>
												<div class="nav-wrap-right">
													<div class="nav-wrap-text">
														<div>{{item.statusDesc}}</div>
														<div>订舱单价 ￥{{item.bookingPrice}}</div>
													</div>
													<div v-if="priceType(item.totalArOrgn)" class="nav-wrap-price">{{priceType(item.totalArOrgn)}}起</div>
												</div>
											</div>
										</li>
									</ul>
									<div v-if="total != '0'" style="text-align: right;">
										<el-pagination
										  @current-change="handleCurrentChange"
										  :current-page="pageNum"
										  :page-size="pageSize"
										  layout="total, prev, pager, next, jumper"
										  :total="total">
										</el-pagination>
									</div>
								</el-tab-pane>
							    <el-tab-pane label="操作中" name="3">
									<div v-if="total == '0'" style="text-align: center;">
										<img alt="图片" src="./img/null.png" style="width: 262px; height: 201px;padding: 20px 0;">
										<div style="font-size: 14px;padding-bottom: 10px;color: #999;">暂无订单</div>
									</div>
									<ul v-if="total != '0'" class="nav-wrap-ul">
										<li @click="orderClick(item.id)" v-for="item in dataArr" :key="item.orderNo" class="nav-wrap-li">
											<div class="nav-wrap-order">
												<div>订单号：{{item.orderNo}}</div>
												<div>预订日期：{{item.orderTime}}</div>
											</div>
											<div class="nav-wrap-content">
												<div class="nav-wrap-route">
													<div class="nav-wrap-logo">
														<img v-if="item.logoPath" alt="图片" :src="item.logoPath">
														<div>{{item.airCompanyName}}</div>
														<div>出发日期：{{item.departureDate}}</div>
													</div>
													<div class="nav-wrap-route-content">
														<div class="nav-wrap-route-info">
															<div>{{item.pol}}</div>
															<div>{{item.polName}}</div>
														</div>
														<div class="nav-wrap-route-zhida">{{item.legCount == '1' ? '直达' : '中转'}}</div>
														<div class="nav-wrap-route-info">
															<div>{{item.pod}}</div>
															<div>{{item.podName}}</div>
														</div>
													</div>
													<div v-if="item.status > 17 && item.inboundPiece" class="nav-wrap-route-remarks">
														<label>{{item.cargoName}}</label>
														<label>{{item.inboundPiece}}PCS</label>
														<label>{{item.inboundCbm}}CMB</label>
														<label>{{item.inboundWeight}}KG</label>
														<label>{{item.packageType == '1' ? '散货' : '托盘'}}</label>
													</div>
													<div v-else class="nav-wrap-route-remarks">
														<label v-if="item.status == '17'">订仓数据</label>
														<label>{{item.cargoName}}</label>
														<label>{{item.bookingPiece}}PCS</label>
														<label>{{item.bookingCbm}}CMB</label>
														<label>{{item.bookingWeight}}KG</label>
														<label>{{item.packageType == '1' ? '散货' : '托盘'}}</label>
													</div>
													<div v-if="item.status == '17'" class="nav-wrap-route-remarks" style="margin-top: 10px;">
														<label>进仓数据</label>
														<label>{{item.cargoName}}</label>
														<label :style="{color: item.inboundPiece == item.bookingPiece ? '#333' : '#F00'}">{{item.inboundPiece}}PCS</label>
														<label :style="{color: item.inboundCbm == item.bookingCbm ? '#333' : '#F00'}">{{item.inboundCbm}}CMB</label>
														<label :style="{color: item.inboundWeight == item.bookingWeight ? '#333' : '#F00'}">{{item.inboundWeight}}KG</label>
														<label>{{item.packageType == '1' ? '散货' : '托盘'}}</label>
													</div>
												</div>
												<div class="nav-wrap-right">
													<div class="nav-wrap-text">
														<div>{{item.statusDesc}}</div>
														<div>订舱单价 ￥{{item.bookingPrice}}</div>
													</div>
													<div v-if="priceType(item.totalArOrgn)" class="nav-wrap-price">{{priceType(item.totalArOrgn)}}起</div>
												</div>
											</div>
										</li>
									</ul>
									<div v-if="total != '0'" style="text-align: right;">
										<el-pagination
										  @current-change="handleCurrentChange"
										  :current-page="pageNum"
										  :page-size="pageSize"
										  layout="total, prev, pager, next, jumper"
										  :total="total">
										</el-pagination>
									</div>
								</el-tab-pane>
								<el-tab-pane label="海关安检" name="4">
									<div v-if="total == '0'" style="text-align: center;">
										<img alt="图片" src="./img/null.png" style="width: 262px; height: 201px;padding: 20px 0;">
										<div style="font-size: 14px;padding-bottom: 10px;color: #999;">暂无订单</div>
									</div>
									<ul v-if="total != '0'" class="nav-wrap-ul">
										<li @click="orderClick(item.id)" v-for="item in dataArr" :key="item.orderNo" class="nav-wrap-li">
											<div class="nav-wrap-order">
												<div>订单号：{{item.orderNo}}</div>
												<div>预订日期：{{item.orderTime}}</div>
											</div>
											<div class="nav-wrap-content">
												<div class="nav-wrap-route">
													<div class="nav-wrap-logo">
														<img v-if="item.logoPath" alt="图片" :src="item.logoPath">
														<div>{{item.airCompanyName}}</div>
														<div>出发日期：{{item.departureDate}}</div>
													</div>
													<div class="nav-wrap-route-content">
														<div class="nav-wrap-route-info">
															<div>{{item.pol}}</div>
															<div>{{item.polName}}</div>
														</div>
														<div class="nav-wrap-route-zhida">{{item.legCount == '1' ? '直达' : '中转'}}</div>
														<div class="nav-wrap-route-info">
															<div>{{item.pod}}</div>
															<div>{{item.podName}}</div>
														</div>
													</div>
													<div v-if="item.status > 17 && item.inboundPiece" class="nav-wrap-route-remarks">
														<label>{{item.cargoName}}</label>
														<label>{{item.inboundPiece}}PCS</label>
														<label>{{item.inboundCbm}}CMB</label>
														<label>{{item.inboundWeight}}KG</label>
														<label>{{item.packageType == '1' ? '散货' : '托盘'}}</label>
													</div>
													<div v-else class="nav-wrap-route-remarks">
														<label v-if="item.status == '17'">订仓数据</label>
														<label>{{item.cargoName}}</label>
														<label>{{item.bookingPiece}}PCS</label>
														<label>{{item.bookingCbm}}CMB</label>
														<label>{{item.bookingWeight}}KG</label>
														<label>{{item.packageType == '1' ? '散货' : '托盘'}}</label>
													</div>
												</div>
												<div class="nav-wrap-right">
													<div class="nav-wrap-text">
														<div>{{item.statusDesc}}</div>
														<div>订舱单价 ￥{{item.bookingPrice}}</div>
													</div>
													<div v-if="priceType(item.totalArOrgn)" class="nav-wrap-price">{{priceType(item.totalArOrgn)}}起</div>
												</div>
											</div>
										</li>
									</ul>
									<div v-if="total != '0'" style="text-align: right;">
										<el-pagination
										  @current-change="handleCurrentChange"
										  :current-page="pageNum"
										  :page-size="pageSize"
										  layout="total, prev, pager, next, jumper"
										  :total="total">
										</el-pagination>
									</div>
								</el-tab-pane>
								<el-tab-pane label="运输中" name="5">
									<div v-if="total == '0'" style="text-align: center;">
										<img alt="图片" src="./img/null.png" style="width: 262px; height: 201px;padding: 20px 0;">
										<div style="font-size: 14px;padding-bottom: 10px;color: #999;">暂无订单</div>
									</div>
									<ul v-if="total != '0'" class="nav-wrap-ul">
										<li @click="orderClick(item.id)" v-for="item in dataArr" :key="item.orderNo" class="nav-wrap-li">
											<div class="nav-wrap-order">
												<div>订单号：{{item.orderNo}}</div>
												<div>预订日期：{{item.orderTime}}</div>
											</div>
											<div class="nav-wrap-content">
												<div class="nav-wrap-route">
													<div class="nav-wrap-logo">
														<img v-if="item.logoPath" alt="图片" :src="item.logoPath">
														<div>{{item.airCompanyName}}</div>
														<div>出发日期：{{item.departureDate}}</div>
													</div>
													<div class="nav-wrap-route-content">
														<div class="nav-wrap-route-info">
															<div>{{item.pol}}</div>
															<div>{{item.polName}}</div>
														</div>
														<div class="nav-wrap-route-zhida">{{item.legCount == '1' ? '直达' : '中转'}}</div>
														<div class="nav-wrap-route-info">
															<div>{{item.pod}}</div>
															<div>{{item.podName}}</div>
														</div>
													</div>
													<div v-if="item.status > 17 && item.inboundPiece" class="nav-wrap-route-remarks">
														<label>{{item.cargoName}}</label>
														<label>{{item.inboundPiece}}PCS</label>
														<label>{{item.inboundCbm}}CMB</label>
														<label>{{item.inboundWeight}}KG</label>
														<label>{{item.packageType == '1' ? '散货' : '托盘'}}</label>
													</div>
													<div v-else class="nav-wrap-route-remarks">
														<label v-if="item.status == '17'">订仓数据</label>
														<label>{{item.cargoName}}</label>
														<label>{{item.bookingPiece}}PCS</label>
														<label>{{item.bookingCbm}}CMB</label>
														<label>{{item.bookingWeight}}KG</label>
														<label>{{item.packageType == '1' ? '散货' : '托盘'}}</label>
													</div>
												</div>
												<div class="nav-wrap-right">
													<div class="nav-wrap-text">
														<div>{{item.statusDesc}}</div>
														<div>订舱单价 ￥{{item.bookingPrice}}</div>
													</div>
													<div v-if="priceType(item.totalArOrgn)" class="nav-wrap-price">{{priceType(item.totalArOrgn)}}起</div>
												</div>
											</div>
										</li>
									</ul>
									<div v-if="total != '0'" style="text-align: right;">
										<el-pagination
										  @current-change="handleCurrentChange"
										  :current-page="pageNum"
										  :page-size="pageSize"
										  layout="total, prev, pager, next, jumper"
										  :total="total">
										</el-pagination>
									</div>
								</el-tab-pane>
								<el-tab-pane label="已完成" name="6">
									<div v-if="total == '0'" style="text-align: center;">
										<img alt="图片" src="./img/null.png" style="width: 262px; height: 201px;padding: 20px 0;">
										<div style="font-size: 14px;padding-bottom: 10px;color: #999;">暂无订单</div>
									</div>
									<ul v-if="total != '0'" class="nav-wrap-ul">
										<li @click="orderClick(item.id)" v-for="item in dataArr" :key="item.orderNo" class="nav-wrap-li">
											<div class="nav-wrap-order">
												<div>订单号：{{item.orderNo}}</div>
												<div>预订日期：{{item.orderTime}}</div>
											</div>
											<div class="nav-wrap-content">
												<div class="nav-wrap-route">
													<div class="nav-wrap-logo">
														<img v-if="item.logoPath" alt="图片" :src="item.logoPath">
														<div>{{item.airCompanyName}}</div>
														<div>出发日期：{{item.departureDate}}</div>
													</div>
													<div class="nav-wrap-route-content">
														<div class="nav-wrap-route-info">
															<div>{{item.pol}}</div>
															<div>{{item.polName}}</div>
														</div>
														<div class="nav-wrap-route-zhida">{{item.legCount == '1' ? '直达' : '中转'}}</div>
														<div class="nav-wrap-route-info">
															<div>{{item.pod}}</div>
															<div>{{item.podName}}</div>
														</div>
													</div>
													<div v-if="item.status > 17 && item.inboundPiece" class="nav-wrap-route-remarks">
														<label>{{item.cargoName}}</label>
														<label>{{item.inboundPiece}}PCS</label>
														<label>{{item.inboundCbm}}CMB</label>
														<label>{{item.inboundWeight}}KG</label>
														<label>{{item.packageType == '1' ? '散货' : '托盘'}}</label>
													</div>
													<div v-else class="nav-wrap-route-remarks">
														<label v-if="item.status == '17'">订仓数据</label>
														<label>{{item.cargoName}}</label>
														<label>{{item.bookingPiece}}PCS</label>
														<label>{{item.bookingCbm}}CMB</label>
														<label>{{item.bookingWeight}}KG</label>
														<label>{{item.packageType == '1' ? '散货' : '托盘'}}</label>
													</div>
												</div>
												<div class="nav-wrap-right">
													<div class="nav-wrap-text">
														<div>{{item.statusDesc}}</div>
														<div>订舱单价 ￥{{item.bookingPrice}}</div>
													</div>
													<div v-if="priceType(item.totalArOrgn)" class="nav-wrap-price">{{priceType(item.totalArOrgn)}}起</div>
												</div>
											</div>
										</li>
									</ul>
									<div v-if="total != '0'" style="text-align: right;">
										<el-pagination
										  @current-change="handleCurrentChange"
										  :current-page="pageNum"
										  :page-size="pageSize"
										  layout="total, prev, pager, next, jumper"
										  :total="total">
										</el-pagination>
									</div>
								</el-tab-pane>
								<el-tab-pane label="已取消" name="7">
									<div v-if="total == '0'" style="text-align: center;">
										<img alt="图片" src="./img/null.png" style="width: 262px; height: 201px;padding: 20px 0;">
										<div style="font-size: 14px;padding-bottom: 10px;color: #999;">暂无订单</div>
									</div>
									<ul v-if="total != '0'" class="nav-wrap-ul">
										<li @click="orderClick(item.id)" v-for="item in dataArr" :key="item.orderNo" class="nav-wrap-li">
											<div class="nav-wrap-order">
												<div>订单号：{{item.orderNo}}</div>
												<div>预订日期：{{item.orderTime}}</div>
											</div>
											<div class="nav-wrap-content">
												<div class="nav-wrap-route">
													<div class="nav-wrap-logo">
														<img v-if="item.logoPath" alt="图片" :src="item.logoPath">
														<div>{{item.airCompanyName}}</div>
														<div>出发日期：{{item.departureDate}}</div>
													</div>
													<div class="nav-wrap-route-content">
														<div class="nav-wrap-route-info">
															<div>{{item.pol}}</div>
															<div>{{item.polName}}</div>
														</div>
														<div class="nav-wrap-route-zhida">{{item.legCount == '1' ? '直达' : '中转'}}</div>
														<div class="nav-wrap-route-info">
															<div>{{item.pod}}</div>
															<div>{{item.podName}}</div>
														</div>
													</div>
													<div v-if="item.status > 17 && item.inboundPiece" class="nav-wrap-route-remarks">
														<label>{{item.cargoName}}</label>
														<label>{{item.inboundPiece}}PCS</label>
														<label>{{item.inboundCbm}}CMB</label>
														<label>{{item.inboundWeight}}KG</label>
														<label>{{item.packageType == '1' ? '散货' : '托盘'}}</label>
													</div>
													<div v-else class="nav-wrap-route-remarks">
														<label v-if="item.status == '17'">订仓数据</label>
														<label>{{item.cargoName}}</label>
														<label>{{item.bookingPiece}}PCS</label>
														<label>{{item.bookingCbm}}CMB</label>
														<label>{{item.bookingWeight}}KG</label>
														<label>{{item.packageType == '1' ? '散货' : '托盘'}}</label>
													</div>
												</div>
												<div class="nav-wrap-right">
													<div class="nav-wrap-text">
														<div>{{item.statusDesc}}</div>
														<div>订舱单价 ￥{{item.bookingPrice}}</div>
													</div>
													<div v-if="priceType(item.totalArOrgn)" class="nav-wrap-price">{{priceType(item.totalArOrgn)}}起</div>
												</div>
											</div>
										</li>
									</ul>
									<div v-if="total != '0'" style="text-align: right;">
										<el-pagination
										  @current-change="handleCurrentChange"
										  :current-page="pageNum"
										  :page-size="pageSize"
										  layout="total, prev, pager, next, jumper"
										  :total="total">
										</el-pagination>
									</div>
								</el-tab-pane>
								<el-tab-pane :label="'异常('+orderCount+')'" name="8">
									<div v-if="total == '0'" style="text-align: center;">
										<img alt="图片" src="./img/null.png" style="width: 262px; height: 201px;padding: 20px 0;">
										<div style="font-size: 14px;padding-bottom: 10px;color: #999;">暂无订单</div>
									</div>
									<ul v-if="total != '0'" class="nav-wrap-ul">
										<li @click="orderClick(item.id)" v-for="(item,index) in dataArr" :key="item.orderNo" class="nav-wrap-li">
											<div class="nav-wrap-order" style="display: flex;justify-content: space-between;">
												<div style="display: flex;">
													<div>订单号：{{item.orderNo}}</div>
													<div style="margin-left: 20px;">预订日期：{{item.orderTime}}</div>
												</div>
												<div v-if="item.status == '5'" style="color: #F00;margin-right: 20px;">确认倒计时：{{countTime(index,item.updateTime)}} {{item.timeOutA}}</div>
											</div>
											<div class="nav-wrap-content">
												<div class="nav-wrap-route">
													<div class="nav-wrap-logo">
														<img v-if="item.logoPath" alt="图片" :src="item.logoPath">
														<div>{{item.airCompanyName}}</div>
														<div>出发日期：{{item.departureDate}}</div>
													</div>
													<div class="nav-wrap-route-content">
														<div class="nav-wrap-route-info">
															<div>{{item.pol}}</div>
															<div>{{item.polName}}</div>
														</div>
														<div class="nav-wrap-route-zhida">{{item.legCount == '1' ? '直达' : '中转'}}</div>
														<div class="nav-wrap-route-info">
															<div>{{item.pod}}</div>
															<div>{{item.podName}}</div>
														</div>
													</div>
													<div v-if="item.status > 17 && item.inboundPiece" class="nav-wrap-route-remarks">
														<label>{{item.cargoName}}</label>
														<label>{{item.inboundPiece}}PCS</label>
														<label>{{item.inboundCbm}}CMB</label>
														<label>{{item.inboundWeight}}KG</label>
														<label>{{item.packageType == '1' ? '散货' : '托盘'}}</label>
													</div>
													<div v-else class="nav-wrap-route-remarks">
														<label v-if="item.status == '17'">订仓数据</label>
														<label>{{item.cargoName}}</label>
														<label>{{item.bookingPiece}}PCS</label>
														<label>{{item.bookingCbm}}CMB</label>
														<label>{{item.bookingWeight}}KG</label>
														<label>{{item.packageType == '1' ? '散货' : '托盘'}}</label>
													</div>
												</div>
												<div class="nav-wrap-right">
													<div class="nav-wrap-text">
														<div>{{item.statusDesc}}</div>
														<div>订舱单价 ￥{{item.bookingPrice}}</div>
													</div>
													<div v-if="priceType(item.totalArOrgn)" class="nav-wrap-price">{{priceType(item.totalArOrgn)}}起</div>
												</div>
											</div>
										</li>
									</ul>
									<div v-if="total != '0'" style="text-align: right;">
										<el-pagination
										  @current-change="handleCurrentChange"
										  :current-page="pageNum"
										  :page-size="pageSize"
										  layout="total, prev, pager, next, jumper"
										  :total="total">
										</el-pagination>
									</div>
								</el-tab-pane>
							</el-tabs>
						</div>
					</div>
				</div>
			</div>
			
			<!-- 尾部 -->
			<div class="footer">
				<div class="com-width">
					<div class="footer-content">
						<div class="footer-label">
							<div class="footer-cool" style="margin-bottom: 10px;">
								<span>Copyright © 2020-2021 17dc.com  丨  沪ICP备2021024815号-1  丨  <a target="_blank" href="./yingyezhizhaoImg.html" class="yingyezhizhao">营业执照</a></span>
							</div>
							<!-- <div class="footer-cool" style="margin-bottom: 10px;display: flex;align-items: center;justify-content: center;">
								<img src="./img/footer-wangjing.png" style="width: 16px;height: 16px;margin-right: 10px;" />
								<span>沪公网备XXXXXXXXXXXXX号</span>
							</div> -->
							<div class="footer-ipc">上海傲晔物流科技有限公司  丨  上海市青浦诸光路1588弄虹桥世界中心L3B栋</div>
						</div>
						<div class="footer-img"><img alt="图片" src="./img/qcode.png" /></div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="./service/index.js"></script>
	<script>
		new Vue({
			el: '#app',
			data: {
				loading: false,
				menuIndex: 0,
				userInfo: {},
				openId: '',
				orderNo: '',
				waybillNo: '',
				pol: '',
				polOpt: [],
				pod: '',
				podOpt: [],
				airCompanyCode: '',
				airCompanyCodeOpt: [],
				inboundNo: '',
				pageNum: 1,
				pageSize: 10,
				departureDate: '',
				typeCode: '全部订单',
				total: 0,
				dataArr: [],
				orderCount: 0,
				timeOut: '',
				h: '',
				m: '',
				s: '',
				updateTime: ''
			},
			created() {
				if(!localStorage.getItem('wxOpenId')){
					window.location.href = './login.html'
				}
				this.openId = localStorage.getItem('wxOpenId')
				this.initUserInfo()
				this.initData()
				this.initOrderCountList()
				this.qiSearchByPage()
				this.muSearchByPage()
				this.initTwoCode()
			},
			mounted() {
				
			},
			methods: {
				//倒计时
				countTime(index,totalTime) {
					//获取当前时间
					var date = new Date();
					var now = date.getTime();
				
					//设置截止时间
					var endDate = new Date(totalTime);
					var end = endDate.getTime()+24*60*60*1000;
				
					//时间差
					var leftTime = end-now;
				
					//定义变量 d,h,m,s保存倒计时的时间
					var h , m , s;
					if (leftTime > 0) {
						h = Math.floor(leftTime/1000/60/60%24);
						m = Math.floor(leftTime/1000/60%60);
						s = Math.floor(leftTime/1000%60);
					}else{
						return 0
					}
					h = h > 9 ? h : '0'+h
					m = m > 9 ? m : '0'+m
					s = s > 9 ? s : '0'+s
					var nn = h +'时'+ m +'分'+ s +'秒'
					setTimeout(() => {
						this.countTime(index,totalTime)
						this.dataArr[index].timeOutA = nn
					},1000);
					// return h +'时'+ m +'分'+ s +'秒'
					
				},
				//倒计时
				countTime1(index,totalTime) {
					//获取当前时间
					var date = new Date();
					var now = date.getTime();
				
					//设置截止时间
					var endDate = new Date(totalTime);
					var end = endDate.getTime()+24*60*60*1000;
				
					//时间差
					var leftTime = end-now;
				
					//定义变量 d,h,m,s保存倒计时的时间
					var h , m , s;
					if (leftTime > 0) {
						h = Math.floor(leftTime/1000/60/60%24);
						m = Math.floor(leftTime/1000/60%60);
						s = Math.floor(leftTime/1000%60);
					}else{
						return 0
					}
					h = h > 9 ? h : '0'+h
					m = m > 9 ? m : '0'+m
					s = s > 9 ? s : '0'+s
					return h +'时'+ m +'分'+ s +'秒'
					
				},
				priceType(json) {
					if(json){
						var arr = JSON.parse(json)
						var price = ''
						for(var i = 0; i < arr.length; i++){
							if(arr[i].currency == '1'){
								price += '￥'+arr[i].amount+'+'
							}else if(arr[i].currency == '2'){
								price += 'HK$'+arr[i].amount+'+'
							}else if(arr[i].currency == '3'){
								price += '$'+arr[i].amount+'+'
							}else if(arr[i].currency == '4'){
								price += '€'+arr[i].amount+'+'
							}else if(arr[i].currency == '5'){
								price += '￡'+arr[i].amount+'+'
							}
						}
						price = price.substring(0, price.length - 1)
						return price
					}else{
						var price = 0
						return price
					}
				},
				initOrderCountList() {
					var json = {
						orderNo: this.orderNo,
						waybillNo: this.waybillNo,
						inboundNo: this.inboundNo,
						pol: this.pol,
						pod: this.pod,
						airCompanyCode: this.airCompanyCode,
						departureDate1: this.departureDate == '' ? '' : this.departureDate[0],
						departureDate2: this.departureDate == '' ? '' : this.departureDate[1],
						typeCode: 8
					}
					json = toData(json)
					axios({
						method: 'get',
						url: webIp+serviceApi.orderCountList+'?'+json,
						headers: {
							'tokenId': localStorage.getItem('tokenId')
						}
					}).then((data) =>{
						var data = data.data
						if(data.code == 200){
							this.orderCount = data.data
						}else if(data.code == -200){
							window.location.href = './login.html'
						}else{
							this.$message.error(data.message)
							
						}
					})
				},
				tabClickData() {
					this.initData()
					this.initOrderCountList()
				},
				initData() {
					var json = {
						orderNo: this.orderNo,
						waybillNo: this.waybillNo,
						inboundNo: this.inboundNo,
						pol: this.pol,
						pod: this.pod,
						airCompanyCode: this.airCompanyCode,
						departureDate1: this.departureDate == '' ? '' : this.departureDate[0],
						departureDate2: this.departureDate == '' ? '' : this.departureDate[1],
						typeCode: this.typeCode == '全部订单' ? '' : this.typeCode,
						pageNum: this.pageNum,
						pageSize: this.pageSize
					}
					json = toData(json)
					axios({
						method: 'get',
						url: webIp+serviceApi.orderSearchByPage+'?'+json,
						headers: {
							'tokenId': localStorage.getItem('tokenId')
						}
					}).then((data) =>{
						var data = data.data
						if(data.code == 200){
							if(data.data.records == null){
								this.dataArr = []
								this.total = 0
							}else{
								this.dataArr = []
								for(var i = 0; i < data.data.records.length; i++){
									data.data.records[i].timeOutA = this.countTime1(i,data.data.records[i].updateTime)
									this.dataArr.push(data.data.records[i])
								}
								this.total = data.data.total
							}
						}else if(data.code == -200){
							window.location.href = './login.html'
						}else{
							this.$message.error(data.message)
							
						}
					})
				},
				initUserInfo(){
					axios({
						method: 'get',
						url: webIp+serviceApi.userUserInfo+'?openId='+this.openId,
						headers: {
							'tokenId': localStorage.getItem('tokenId')
						}
					}).then((data) =>{
						var data = data.data
						if(data.code == 200){
							this.userInfo = data.data.tportalUser
						}else if(data.code == -200){
							window.location.href = './login.html'
						}else{
							this.$message.error(data.message)
							
						}
					})
				},
				//目的港
				muSearchByPage() {
					var jsonData = {
						keyWord: this.pod,
						type: this.pod ? '' : '2'
					}
					jsonData = toData(jsonData)
					axios({
						method: 'get',
						url: webIp+serviceApi.searchByPage+'?'+jsonData,
					}).then((data) =>{
						var data = data.data
						if(data.code == 200){
							this.podOpt = data.data
						}
					})
				},
				//起运港
				qiSearchByPage() {
					var jsonData = {
						keyWord: this.pol,
						type: this.pol ? '' : '1'
					}
					jsonData = toData(jsonData)
					axios({
						method: 'get',
						url: webIp+serviceApi.searchByPage+'?'+jsonData,
					}).then((data) =>{
						var data = data.data
						if(data.code == 200){
							this.polOpt = data.data
						}
					})
				},
				//获取二字码
				initTwoCode() {
					var jsonData = {
						keyWord: this.airCompanyCode,
						pageNum: 1,
						pageSize: 10
					}
					jsonData = toData(jsonData)
					axios({
						method: 'get',
						url: webIp+serviceApi.companySearchByPage+'?'+jsonData,
					}).then((data) =>{
						var data = data.data
						if(data.code == 200){
							this.airCompanyCodeOpt = data.data
						}
					})
				},
				//跳转详情
				orderClick(orderId) {
					window.location.href = './orderDetails.html?orderId='+orderId
				},
				searchClick() {
					this.initData()
					this.initOrderCountList()
				},
				restClick() {
					this.orderNo = ''
					this.waybillNo = ''
					this.inboundNo = ''
					this.pol = ''
					this.pod = ''
					this.airCompanyCode = ''
					this.departureDate = ''
					this.pageNum = 1
					this.pageSize  = 10
					this.initData()
					this.initOrderCountList()
				},
				handleCurrentChange(val) {
					console.log(val)
					this.pageNum = val
					this.initData()
				},
				polMethod(val) {
					this.pol = val
					this.qiSearchByPage()
				},
				podMethod(val) {
					this.pod = val
					this.muSearchByPage()
				},
				companyMethod(val) {
					this.airCompanyCode = val
					this.initTwoCode()
				},
				//登录
				loginClick() {
					window.location.href = './login.html'
				},
				// muen
				menuClick(index) {
					this.menuIndex = index
				}
			}
		})
	</script>
</html>
